In [9]:
import pymysql
import pandas as pd
import pymysql.cursors
from tqdm import tqdm  # ÏßÑÌñâÎ•†
import sys
import json
import mysqlConnecter as mc

In [5]:
# ‚úÖ MySQL Ïó∞Í≤∞ ÏÑ§Ï†ï
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    database='FinancialStatement',  # Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïù¥Î¶Ñ
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

In [2]:
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

try:
    with conn.cursor() as curser:

        # 1. Îç∞Ïù¥ÌÑ∞ Î≤†Ïù¥Ïä§ Î™©Î°ù Î≥¥Í∏∞
        curser.execute("SHOW DATABASES")
        databases = curser.fetchall()
        print('ÏÇ¨Ïö© Í∞ÄÎä•Ìïú Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Î™©Î°ù:')
        for db in databases:
            print("-", db['Database'])

        # 2. Îç∞Ïù¥ÌÑ∞ Î≤†Ïù¥Ïä§ ÏÑ†ÌÉùÌïòÍ∏∞
        db_name = 'ÌöåÏõêÍ¥ÄÎ¶¨DB'
        db_exists = any(db['Database'] == db_name for db in databases)

        if db_exists:
            print('\nÎç∞Ïù¥ÌÑ∞ Î≤†Ïù¥Ïä§ ÏÑ†ÌÉùÌï©ÎãàÎã§')
            curser.execute(f'USE {db_name}')
        else:
            exit()

        
        # 3. ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ ÌÖåÏù¥Î∏î Î™©Î°ù Í∞ÄÏ†∏Ïò§Í∏∞
        curser.execute('SHOW TABLES')
        tables = curser.fetchall()
        print('\nÏÇ¨Ïö©Í∞ÄÎä•Ìïú ÌÖåÏù¥Î∏î Î™©Î°ù')
        for table in tables:
            print(f'- {table}')


        # 4. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ï†ÑÏ≤¥ Ï°∞Ìöå
        sql = "SELECT * FROM ÌöåÏõêÏ†ïÎ≥¥"
        curser.execute(sql)
        result = curser.fetchall()

        df = pd.DataFrame(result)
        display(df)
finally:
    conn.close()

ÏÇ¨Ïö© Í∞ÄÎä•Ìïú Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Î™©Î°ù:
- FinancialStatement
- information_schema
- mysql
- performance_schema
- sys
- ÌöåÏõêÍ¥ÄÎ¶¨DB

Îç∞Ïù¥ÌÑ∞ Î≤†Ïù¥Ïä§ ÏÑ†ÌÉùÌï©ÎãàÎã§

ÏÇ¨Ïö©Í∞ÄÎä•Ìïú ÌÖåÏù¥Î∏î Î™©Î°ù
- {'Tables_in_ÌöåÏõêÍ¥ÄÎ¶¨db': 'ÌöåÏõêÏ†ïÎ≥¥'}

   id   Ïù¥Î¶Ñ  ÎÇòÏù¥               Ïù¥Î©îÏùº
0   1  ÌôçÍ∏∏Îèô  25  hong@example.com
1   2  ÏÜ°ÎπåÎ¶¨  30   billy@naver.com

In [ ]:
# ÏÜêÏùµÍ≥ÑÏÇ∞ÏÑú, ÎåÄÏ∞®ÎåÄÏ°∞Ìëú, ÌòÑÍ∏àÌùêÎ¶ÑÌëú Î°úÎìú
def save_income_statement_to_db(stockInfo):
    try:
        # 1Ô∏è‚É£ FinancialStatementÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
        df = stockInfo.stock.financials  # ÏÜêÏùµÍ≥ÑÏÇ∞ÏÑú Í∞ÄÏ†∏Ïò§Í∏∞
        df = df.where(pd.notna(df), None)  # NaN Í∞íÏùÑ NoneÏúºÎ°ú Î≥ÄÌôò
        
        # 2Ô∏è‚É£ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎäî Í≤ΩÏö∞ ÏòàÏô∏ Ï≤òÎ¶¨
        if df.empty:
            print(f"‚ùå ÏÜêÏùµÍ≥ÑÏÇ∞ÏÑú Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå")
            return

        df = df.T  # Ïó∞ÎèÑÎ•º ÌñâÏúºÎ°ú Î≥ÄÌôò
        df.reset_index(inplace=True)  # Ïù∏Îç±Ïä§ Ï¥àÍ∏∞Ìôî
        df.columns = ['year'] + [col.replace(' ', '_').replace('-', '_') for col in df.columns[1:]]
        
        # 3Ô∏è‚É£ symbol Î∞è year Ïª¨Îüº Ï∂îÍ∞Ä Î∞è Î≥ÄÌôò
        df['symbol'] = symbol
        df['year'] = df['year'].dt.year  # Ïó∞ÎèÑÎ•º Ï†ïÏàòÌòïÏúºÎ°ú Î≥ÄÌôò

        # 4Ô∏è‚É£ ÌòÑÏû¨ MySQL ÌÖåÏù¥Î∏îÏùò Ïª¨Îüº Î™©Î°ù Í∞ÄÏ†∏Ïò§Í∏∞
        with conn.cursor() as cursor:
            cursor.execute("""
                SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS 
                WHERE TABLE_NAME = 'IncomeStatements'
            """)
            existing_columns = {row["COLUMN_NAME"] for row in cursor.fetchall()}  # Ïª¨ÎüºÎ™Ö ÏßëÌï©

        # 5Ô∏è‚É£ ÎàÑÎùΩÎêú Ïª¨Îüº ÌôïÏù∏ Î∞è Ï∂îÍ∞Ä
        new_columns = set(df.columns) - existing_columns - {"symbol", "year"}  # Í∏∞Ï°¥ Ïª¨Îüº Ï†úÏô∏
        if new_columns:
            with conn.cursor() as cursor:
                for column in new_columns:
                    alter_sql = f"ALTER TABLE IncomeStatements ADD COLUMN `{column}` DOUBLE NULL;"
                    cursor.execute(alter_sql)
                conn.commit()
            print(f"‚úÖ ÏÉà Ïª¨Îüº Ï∂îÍ∞ÄÎê®: {', '.join(new_columns)}")

        # 6Ô∏è‚É£ MySQLÏóê Ï†ÄÏû•Ìï† Îç∞Ïù¥ÌÑ∞ Ï†ïÎ¶¨
        db_columns = ['symbol', 'year'] + [col for col in df.columns if col not in ['symbol', 'year']]
        df = df[db_columns]  # Ïª¨Îüº ÏàúÏÑú ÎßûÏ∂îÍ∏∞

        # 7Ô∏è‚É£ MySQLÏóê Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
        with conn.cursor() as cursor:
            sql = f"""
            INSERT INTO IncomeStatements ({', '.join(db_columns)})
            VALUES ({', '.join(['%s'] * len(db_columns))})
            ON DUPLICATE KEY UPDATE 
            {', '.join([f"{col} = VALUES({col})" for col in db_columns[2:]])};
            """
            data = [tuple(x) for x in df.values]
            cursor.executemany(sql, data)
            conn.commit()
        
        # print(f"‚úÖ {symbol} - Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû• ÏôÑÎ£å")

    except Exception as e:
        print(f"‚ö†Ô∏è {symbol} - Income Statement Ïò§Î•ò Î∞úÏÉù: {e}")


def save_balance_sheet_to_db(stockInfo):
    try:
        # 1Ô∏è‚É£ FinancialStatementÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
        df = stockInfo.stock.balance_sheet  # ÎåÄÏ∞®ÎåÄÏ°∞Ìëú Í∞ÄÏ†∏Ïò§Í∏∞

        # 2Ô∏è‚É£ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎäî Í≤ΩÏö∞ ÏòàÏô∏ Ï≤òÎ¶¨
        if df.empty:
            print(f"‚ùå ÎåÄÏ∞®ÎåÄÏ°∞Ìëú Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå")
            return

        df = df.T  # Ïó∞ÎèÑÎ•º ÌñâÏúºÎ°ú Î≥ÄÌôò
        df.reset_index(inplace=True)

        # 3Ô∏è‚É£ NaN Í∞íÏùÑ NoneÏúºÎ°ú Î≥ÄÌôòÌïòÏó¨ MySQLÏóêÏÑú Ïò§Î•ò Î∞©ÏßÄ
        df = df.where(pd.notna(df), None)

        # 4Ô∏è‚É£ Ïª¨Îüº Ïù¥Î¶Ñ Î≥ÄÌôò (MySQLÏóêÏÑú ÌóàÏö©ÎêòÏßÄ ÏïäÎäî Í≥µÎ∞±/ÌäπÏàòÎ¨∏Ïûê ‚Üí `_` Î≥ÄÍ≤Ω)
        df.columns = ['year'] + [col.replace(' ', '_').replace('-', '_') for col in df.columns[1:]]

        # ‚úÖ Í∏∞Ï°¥Ïóê symbol Ïª¨ÎüºÏù¥ ÏûàÏúºÎ©¥ Ï†úÍ±∞ (Ï§ëÎ≥µ Î∞©ÏßÄ)
        df = df.drop(columns=['symbol'], errors='ignore')

        # ‚úÖ symbol Ïª¨Îüº Ï∂îÍ∞Ä
        df['symbol'] = symbol
        df['year'] = df['year'].dt.year  # Ïó∞ÎèÑÎ•º Ï†ïÏàòÌòïÏúºÎ°ú Î≥ÄÌôò

        # ‚úÖ MySQL ÌÖåÏù¥Î∏î Ïª¨Îüº Î¶¨Ïä§Ìä∏ ÌôïÏù∏
        with conn.cursor() as cursor:
            cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'BalanceSheet'")
            existing_columns = {row['COLUMN_NAME'] for row in cursor.fetchall()}

        # ‚úÖ Ï∂îÍ∞ÄÌï¥Ïïº Ìï† Ïª¨Îüº Ï∞æÍ∏∞
        missing_columns = set(df.columns) - existing_columns
        if missing_columns:
            with conn.cursor() as cursor:
                for col in missing_columns:
                    sql = f"ALTER TABLE BalanceSheet ADD COLUMN `{col}` DECIMAL(15,2) NULL;"
                    cursor.execute(sql)
                conn.commit()
            print(f"üõ†Ô∏è {symbol} - ÎàÑÎùΩÎêú Ïª¨Îüº Ï∂îÍ∞Ä ÏôÑÎ£å: {missing_columns}")

        # ‚úÖ Ïª¨Îüº ÏàúÏÑú Ï†ïÎ†¨
        column_order = ['symbol', 'year'] + [col for col in df.columns if col not in ['symbol', 'year']]
        df = df[column_order]  

        # 5Ô∏è‚É£ `ON DUPLICATE KEY UPDATE`Î•º ÏÇ¨Ïö©ÌïòÏó¨ ÎçÆÏñ¥Ïì∞Í∏∞
        with conn.cursor() as cursor:
            sql = f"""
            INSERT INTO BalanceSheet ({', '.join(column_order)})
            VALUES ({', '.join(['%s'] * len(column_order))})
            ON DUPLICATE KEY UPDATE 
            {', '.join([f"{col} = VALUES({col})" for col in column_order[2:]])};
            """
            data = [tuple(x) for x in df.values]
            cursor.executemany(sql, data)
            conn.commit()

        # print(f"‚úÖ {symbol} - Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû• ÏôÑÎ£å (Ïª¨Îüº Ï∂îÍ∞Ä + ÎçÆÏñ¥Ïì∞Í∏∞ ÏßÄÏõê)")

    except Exception as e:
        print(f"‚ö†Ô∏è {symbol} - Balance Sheet Ïò§Î•ò Î∞úÏÉù: {e}")


def save_cash_flow_to_db(stockInfo):
    try:
        # 1Ô∏è‚É£ FinancialStatementÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
        df = stockInfo.stock.cash_flow  # ÌòÑÍ∏àÌùêÎ¶ÑÌëú Í∞ÄÏ†∏Ïò§Í∏∞

        # 2Ô∏è‚É£ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎäî Í≤ΩÏö∞ ÏòàÏô∏ Ï≤òÎ¶¨
        if df.empty:
            print(f"‚ùå ÌòÑÍ∏àÌùêÎ¶ÑÌëú Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå")
            return

        df = df.T  # Ïó∞ÎèÑÎ•º ÌñâÏúºÎ°ú Î≥ÄÌôò
        df.reset_index(inplace=True)

        # 3Ô∏è‚É£ NaN Í∞íÏùÑ NoneÏúºÎ°ú Î≥ÄÌôòÌïòÏó¨ MySQLÏóêÏÑú Ïò§Î•ò Î∞©ÏßÄ
        df = df.where(pd.notna(df), None)

        # 4Ô∏è‚É£ Ïª¨Îüº Ïù¥Î¶Ñ Î≥ÄÌôò (MySQLÏóêÏÑú ÌóàÏö©ÎêòÏßÄ ÏïäÎäî Í≥µÎ∞±/ÌäπÏàòÎ¨∏Ïûê ‚Üí `_` Î≥ÄÍ≤Ω)
        df.columns = ['year'] + [col.replace(' ', '_').replace('-', '_') for col in df.columns[1:]]

        # ‚úÖ Í∏∞Ï°¥Ïóê symbol Ïª¨ÎüºÏù¥ ÏûàÏúºÎ©¥ Ï†úÍ±∞ (Ï§ëÎ≥µ Î∞©ÏßÄ)
        df = df.drop(columns=['symbol'], errors='ignore')

        # ‚úÖ symbol Ïª¨Îüº Ï∂îÍ∞Ä
        df['symbol'] = symbol
        df['year'] = df['year'].dt.year  # Ïó∞ÎèÑÎ•º Ï†ïÏàòÌòïÏúºÎ°ú Î≥ÄÌôò

        # ‚úÖ MySQL ÌÖåÏù¥Î∏î Ïª¨Îüº Î¶¨Ïä§Ìä∏ ÌôïÏù∏
        with conn.cursor() as cursor:
            cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'CashFlow'")
            existing_columns = {row['COLUMN_NAME'] for row in cursor.fetchall()}

        # ‚úÖ Ï∂îÍ∞ÄÌï¥Ïïº Ìï† Ïª¨Îüº Ï∞æÍ∏∞
        missing_columns = set(df.columns) - existing_columns
        if missing_columns:
            with conn.cursor() as cursor:
                for col in missing_columns:
                    sql = f"ALTER TABLE CashFlow ADD COLUMN `{col}` DECIMAL(15,2) NULL;"
                    cursor.execute(sql)
                conn.commit()
            print(f"üõ†Ô∏è {symbol} - ÎàÑÎùΩÎêú Ïª¨Îüº Ï∂îÍ∞Ä ÏôÑÎ£å: {missing_columns}")

        # ‚úÖ Ïª¨Îüº ÏàúÏÑú Ï†ïÎ†¨
        column_order = ['symbol', 'year'] + [col for col in df.columns if col not in ['symbol', 'year']]
        df = df[column_order]  

        # 5Ô∏è‚É£ `ON DUPLICATE KEY UPDATE`Î•º ÏÇ¨Ïö©ÌïòÏó¨ ÎçÆÏñ¥Ïì∞Í∏∞
        with conn.cursor() as cursor:
            sql = f"""
            INSERT INTO CashFlow ({', '.join(column_order)})
            VALUES ({', '.join(['%s'] * len(column_order))})
            ON DUPLICATE KEY UPDATE 
            {', '.join([f"{col} = VALUES({col})" for col in column_order[2:]])};
            """
            data = [tuple(x) for x in df.values]
            cursor.executemany(sql, data)
            conn.commit()

        # print(f"‚úÖ {symbol} - Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû• ÏôÑÎ£å (Ïª¨Îüº Ï∂îÍ∞Ä + ÎçÆÏñ¥Ïì∞Í∏∞ ÏßÄÏõê)")

    except Exception as e:
        print(f"‚ö†Ô∏è {symbol} - Cash Flow Ïò§Î•ò Î∞úÏÉù: {e}")


def save_company_info_to_db(stockInfo):
    try:
        info = stockInfo.stock.info
        symbol = stockInfo.ticker.upper()  # Ï£ºÏãù Ïã¨Î≥º Í∞ÄÏ†∏Ïò§Í∏∞

        # ‚úÖ MySQL ÌÖåÏù¥Î∏î Ïª¨Îüº Î¶¨Ïä§Ìä∏ ÌôïÏù∏
        with conn.cursor() as cursor:
            cursor.execute("SELECT COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Company'")
            existing_columns = {row['COLUMN_NAME']: row['DATA_TYPE'] for row in cursor.fetchall()}

        # ‚úÖ MySQL Ïª¨ÎüºÍ≥º Îß§Ïπ≠ÎêòÎäî Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú
        data = {key: info.get(key, None) for key in info.keys()}
        data.pop("companyOfficers", None)  # ‚ùå companyOfficers Ï†úÍ±∞
        data["symbol"] = symbol  # Ïã¨Î≥º Ï∂îÍ∞Ä

        # ‚úÖ Ï∂îÍ∞ÄÌï¥Ïïº Ìï† Ïª¨Îüº Ï∞æÍ∏∞ (Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Íµ¨Î∂Ñ)
        missing_columns = set(data.keys()) - set(existing_columns.keys())

        if missing_columns:
            with conn.cursor() as cursor:
                for col in missing_columns:
                    value = data[col]

                    # Ïà´ÏûêÌòï Îç∞Ïù¥ÌÑ∞Îäî FLOAT, BIGINT Îì±ÏúºÎ°ú Ï†ÄÏû•
                    if isinstance(value, int):
                        col_type = "BIGINT NULL"
                    elif isinstance(value, float):
                        col_type = "FLOAT NULL"
                    elif isinstance(value, str) and len(value) > 255:
                        col_type = "TEXT NULL"  # 255ÏûêÎ•º Ï¥àÍ≥ºÌïòÎäî Î¨∏ÏûêÏó¥ÏùÄ TEXT
                    else:
                        col_type = "VARCHAR(255) NULL"  # Í∏∞Î≥∏Ï†ÅÏúºÎ°ú VARCHAR(255)

                    sql = f"ALTER TABLE Company ADD COLUMN `{col}` {col_type};"
                    cursor.execute(sql)
                conn.commit()
            print(f"üõ†Ô∏è {symbol} - ÎàÑÎùΩÎêú Ïª¨Îüº Ï∂îÍ∞Ä ÏôÑÎ£å: {missing_columns}")


        # ‚úÖ Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôò (dict, list ‚Üí JSON Î¨∏ÏûêÏó¥)
        for key, value in data.items():
            if isinstance(value, (dict, list)):
                data[key] = json.dumps(value)  # JSON Î¨∏ÏûêÏó¥Î°ú Î≥ÄÌôò
                
        # ‚úÖ Îç∞Ïù¥ÌÑ∞ ÏÇΩÏûÖ ÎòêÎäî ÏóÖÎç∞Ïù¥Ìä∏
        columns = ", ".join(data.keys())
        placeholders = ", ".join(["%s"] * len(data))
        update_clause = ", ".join([f"{key} = VALUES({key})" for key in data.keys() if key != "symbol"])

        with conn.cursor() as cursor:
            sql = f"""
            INSERT INTO Company ({columns})
            VALUES ({placeholders})
            ON DUPLICATE KEY UPDATE {update_clause};
            """
            cursor.execute(sql, tuple(data.values()))
            conn.commit()
        print(f"‚úÖ {symbol} - Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû• ÏôÑÎ£å")

    except Exception as e:
        print(f"‚ö†Ô∏è {symbol} - Ïò§Î•ò Î∞úÏÉù: {e}")

symbols = []

try:
    with conn.cursor() as cursor:
        cursor.execute("SELECT symbol FROM Company")
        result = cursor.fetchall()

        symbols =  [row['symbol'] for row in result]

except Exception as e:
    print(f"‚ö†Ô∏è Ïò§Î•ò Î∞úÏÉù: {e}")

finally:
    cursor.close()


stockInfo = fs.FinancialStatement()

# ‚úÖ Í∏∞ÏóÖ Î¶¨Ïä§Ìä∏Ïóê ÎåÄÌï¥ CashFlowStatement Ï†ÄÏû• Ïã§Ìñâ
for symbol in tqdm(symbols[1:], desc="Processing Companies"):

    stockInfo.setCompany(symbol)

    if stockInfo.stock:
        save_company_info_to_db(stockInfo)
        # save_income_statement_to_db(stockInfo)
        # save_balance_sheet_to_db(stockInfo)
        # save_cash_flow_to_db(stockInfo)
    else:
        print(f"‚ùå {symbol} Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå")


# ‚úÖ MySQL Ïó∞Í≤∞ Ï¢ÖÎ£å
conn.close()

In [ ]:

#--------------------------
# NYSE Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥ Î™®Îëê DBÏóê Ï†ÄÏû•
#--------------------------


# ‚úÖ MySQL Ïó∞Í≤∞ ÏÑ§Ï†ï
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    database='FinancialStatement',  # Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïù¥Î¶Ñ
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

# ‚úÖ Excel ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
df = pd.read_excel('nyse_symbol.xlsx')

# ‚úÖ ÌïÑÏöî ÏóÜÎäî URL Ïª¨Îüº Ï†úÍ±∞
df = df[['Symbol', 'Name']]  # URL Ïª¨Îüº Ï†úÏô∏

print(df.loc[3672])

# ‚úÖ NaN Í∞íÏù¥ ÏûàÏúºÎ©¥ NoneÏúºÎ°ú Î≥ÄÌôò
df = df.where(pd.notna(df), None)

# ‚úÖ Symbol Í∞íÏù¥ NaN ÎòêÎäî Îπà Î¨∏ÏûêÏó¥("")Ïù∏ Ìñâ Ï∞æÍ∏∞
invalid_indices = df[df['Symbol'].isna() | (df['Symbol'].astype(str).str.strip() == "")].index.tolist()


if invalid_indices == None or len(invalid_indices) > 0:
    print(f"symbol Í∞íÏù¥ ÎπÑÏñ¥ ÏûàÏäµÎãàÎã§ : {invalid_indices}")
    sys.exit(1)


# ‚úÖ Îç∞Ïù¥ÌÑ∞ ÏÇΩÏûÖ ÎòêÎäî ÏóÖÎç∞Ïù¥Ìä∏ Ï≤òÎ¶¨
with conn.cursor() as cursor:
    sql = """
    INSERT INTO Company (symbol, name)
    VALUES (%s, %s)
    ON DUPLICATE KEY UPDATE 
    name = VALUES(name);
    """
    data = [tuple(x) for x in df.values]  # Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôò

    # ‚úÖ Îç∞Ïù¥ÌÑ∞Î•º Ìïú Î≤àÏóê ÏÇΩÏûÖÌïòÎäî Í≤ÉÏù¥ ÏïÑÎãàÎùº, ÏùºÎ∂ÄÏî© ÎÇòÎà†ÏÑú ÏÇΩÏûÖ
    batch_size = 100  # 100Í∞úÏî© Ïã§Ìñâ
    for i in range(0, len(data), batch_size):
        try:
            cursor.executemany(sql, data[i:i+batch_size])
            conn.commit()  # ‚úÖ Ïó¨Í∏∞ÏÑú Î©àÏ∂òÎã§Î©¥, Ìä∏ÎûúÏû≠ÏÖò Ï∂©Îèå Í∞ÄÎä•ÏÑ± ÏûàÏùå
            print(f"‚úÖ {i + batch_size}Í∞ú Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨ ÏôÑÎ£å!")
        except Exception as e:
            print(f"‚ùå Ïò§Î•ò Î∞úÏÉù: {e}")
            conn.rollback()  # ‚úÖ Ïò§Î•ò Î∞úÏÉù Ïãú Î°§Î∞±
            break  # ‚úÖ Î∞òÎ≥µÎ¨∏ Ï§ëÎã® ÌõÑ Ïò§Î•ò ÌôïÏù∏

print("‚úÖ Îç∞Ïù¥ÌÑ∞ ÏÇΩÏûÖ ÏôÑÎ£å (URL Ïª¨Îüº Ï†úÏô∏, Ï§ëÎ≥µ Ïãú ÎçÆÏñ¥Ïì∞Í∏∞ Ï≤òÎ¶¨Îê®)")

# ‚úÖ MySQL Ïó∞Í≤∞ Ï¢ÖÎ£å
conn.close()

In [ ]:

import commonHelper as ch
import yFinanceDownloader as yf

def save_fs_to_db(stockInfo, type, dateType):
    
    infoName = ch.getStrFinancialStatementType(type)
    dateName = ch.getStrFinancialStatementType(dateType)

    tableName = f"{infoName}_{dateName}"

    try:
        df = stockInfo.getFsData(type, dateType)
        df = df.where(pd.notna(df), None)

        if df.empty:
            print(f"‚ùå {tableName} Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå")
            return
        
        symbol = stockInfo.stock.info.get('symbol','N/A')
        name = stockInfo.stock.info.get('shortName','N/A')

        df = df.T
        df.reset_index(inplace=True)
        df.rename(columns={"index": "date"}, inplace=True)
        df.columns = [col.replace(' ', '_').replace('-', '_') for col in df.columns]
        df['symbol'] = symbol
        df['name'] = name

        with conn.cursor() as cursor:
            cursor.execute(f"""
                SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS
                WHERE TABLE_NAME = '{tableName}'
            """)

            existing_columns = {row['COLUMN_NAME'] for row in cursor.fetchall()}
            
        new_columns = set(df.columns) - existing_columns - {"symbol", "year"}
        if new_columns:
            with conn.cursor() as cursor:
                for col in new_columns:
                    value = df[col].iloc[0]

                    # ÎÇ†Ïßú ÌÉÄÏûÖ ÌôïÏù∏ (Î¨∏ÏûêÏó¥Ïù¥ÏßÄÎßå ÎÇ†Ïßú Î≥ÄÌôò Í∞ÄÎä•Ìïú Í≤ΩÏö∞)
                    if isinstance(value, str):  
                        try:
                            pd.to_datetime(value)  # Î≥ÄÌôò Í∞ÄÎä• Ïó¨Î∂Ä Ï≤¥ÌÅ¨
                            col_type = "DATE NULL"  # Î≥ÄÌôò Í∞ÄÎä•ÌïòÎ©¥ DATEÎ°ú ÏÑ§Ï†ï
                        except ValueError:
                            col_type = "TEXT NULL" if len(value) > 128 else "VARCHAR(128) NULL"
                    
                    # Pandas datetime ÌÉÄÏûÖ (ÏßÅÏ†ë Î≥ÄÌôò)
                    elif isinstance(value, pd.Timestamp):
                        col_type = "DATE NULL"

                    # Ïà´ÏûêÌòï Îç∞Ïù¥ÌÑ∞Îäî FLOAT, BIGINT Îì±ÏúºÎ°ú Ï†ÄÏû•
                    elif isinstance(value, int):
                        col_type = "BIGINT NULL"
                    elif isinstance(value, float):
                        col_type = "FLOAT NULL"
                    
                    # Í∏∞Î≥∏Ï†ÅÏúºÎ°ú VARCHAR(128)ÏúºÎ°ú ÏÑ§Ï†ï
                    else:
                        col_type = "VARCHAR(128) NULL"  

                    sql = f"ALTER TABLE {tableName} ADD COLUMN `{col}` {col_type};"

                    cursor.execute(sql)
                
                conn.commit()
            print(f"üõ†Ô∏è {symbol} - ÎàÑÎùΩÎêú Ïª¨Îüº Ï∂îÍ∞Ä ÏôÑÎ£å: {new_columns}")

        with conn.cursor() as cursor:
            columns = ", ".join([f"`{col}`" for col in df.columns])
            placeholders = ", ".join(["%s"] * len(df.columns))
            update_clause = ", ".join([f"`{col}` = VALUES(`{col}`)" for col in df.columns if col not in ["date", "symbol"]])

            insert_sql = f"""
                INSERT INTO {tableName} ({columns})
                VALUES ({placeholders})
                ON DUPLICATE KEY UPDATE {update_clause};
            """

            data = [tuple(row) for row in df.itertuples(index=False, name=None)]
            cursor.executemany(insert_sql, data)
            conn.commit()

        print(f"‚úÖ {symbol} - {tableName} Îç∞Ïù¥ÌÑ∞ ÏÇΩÏûÖ ÏôÑÎ£å")

    except Exception as e:
        print(f"‚ö†Ô∏è {symbol} - {tableName} Ïò§Î•ò Î∞úÏÉù: {e}")


stockInfo = fs.FinancialStatement()
mysqlConn = mc.MySQLConnector()
mysqlConn.connect()

symbols = mysqlConn.getSymbolList()

for symbol in tqdm(symbols[:1], desc="Processing Companies"):
    
    stockInfo.setCompany(symbol)

    if stockInfo.stock:
        save_fs_to_db(stockInfo, FSType.INCOME_STATEMENT, FSDateType.QUARTER)
        save_fs_to_db(stockInfo, FSType.BALANCE_SHEET, FSDateType.QUARTER)
        save_fs_to_db(stockInfo, FSType.CASH_FLOW, FSDateType.QUARTER)
    else:
        print(f"‚ùå {symbol} Îç∞Ïù¥ÌÑ∞ ÏóÜÏùå")


mysqlConn.disconnect()

In [ ]:
def insert_stock_data(df):
    """
    fetch_stock_dataÎ°ú Í∞ÄÏ†∏Ïò® DataFrameÏùÑ MySQL StockPrices ÌÖåÏù¥Î∏îÏóê Ï†ÄÏû•
    :param df: fetch_stock_dataÎ°ú Í∞ÄÏ†∏Ïò® Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ
    :param db_config: MySQL Ï†ëÏÜç Ï†ïÎ≥¥ (host, user, password, db, port)
    """

    # ‚úÖ MySQL Ïó∞Í≤∞ ÏÑ§Ï†ï
    conn = pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        database='Stock',  # Îç∞Ïù¥ÌÑ∞Î≤†Ïù¥Ïä§ Ïù¥Î¶Ñ
        charset='utf8mb4',
        cursorclass=pymysql.cursors.DictCursor
    )

    # DB Ïó∞Í≤∞
    connection = conn

    # DataFrameÏùÑ ÌäúÌîå Î¶¨Ïä§Ìä∏Î°ú Î≥ÄÌôò (adj_closeÎäî CloseÎ°ú Ï±ÑÏõåÎÑ£Ïùå)
    data_to_insert = list(
        df[['Date', 'Symbol', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close']].itertuples(index=False, name=None)
    )

    sql = """
        INSERT INTO StockPrices (date, symbol, open, high, low, close, volume, adj_close)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            open = VALUES(open),
            high = VALUES(high),
            low = VALUES(low),
            close = VALUES(close),
            volume = VALUES(volume),
            adj_close = VALUES(adj_close);
    """

    try:
        with connection.cursor() as cursor:
            cursor.executemany(sql, data_to_insert)
            print(f"{cursor.rowcount} rows inserted/updated successfully.")
        connection.commit()
    except Exception as e:
        print("Error occurred:", e)
        connection.rollback()
    finally:
        connection.close()

[*********************100%***********************]  1 of 1 completed

Price,Date,Symbol,Open,High,Low,Close,Volume
0,2025-03-11,AAPL,223.809998,225.839996,217.449997,220.839996,76087700
1,2025-03-12,AAPL,220.179993,221.750000,219.270004,220.134995,11631991

1 rows inserted/updated successfully.

In [ ]:

data = fs.FinancialStatement.getStockData(['AAPL'],'2025-03-11')
display(data)
insert_stock_data(data)