In [15]:
import pymysql
import pandas as pd
import pymysql.cursors
from tqdm import tqdm  # ì§„í–‰ë¥ 
import financialStatement as fs
import sys
import json
from commonHelper import FSType, FSDateType, getStrFSType, getStrFSDateType
import mysqlConnecter as mc

In [5]:
# âœ… MySQL ì—°ê²° ì„¤ì •
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    database='FinancialStatement',  # ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

In [2]:
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

try:
    with conn.cursor() as curser:

        # 1. ë°ì´í„° ë² ì´ìŠ¤ ëª©ë¡ ë³´ê¸°
        curser.execute("SHOW DATABASES")
        databases = curser.fetchall()
        print('ì‚¬ìš© ê°€ëŠ¥í•œ ë°ì´í„°ë² ì´ìŠ¤ ëª©ë¡:')
        for db in databases:
            print("-", db['Database'])

        # 2. ë°ì´í„° ë² ì´ìŠ¤ ì„ íƒí•˜ê¸°
        db_name = 'íšŒì›ê´€ë¦¬DB'
        db_exists = any(db['Database'] == db_name for db in databases)

        if db_exists:
            print('\në°ì´í„° ë² ì´ìŠ¤ ì„ íƒí•©ë‹ˆë‹¤')
            curser.execute(f'USE {db_name}')
        else:
            exit()

        
        # 3. í˜„ì¬ ë°ì´í„°ë² ì´ìŠ¤ í…Œì´ë¸” ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
        curser.execute('SHOW TABLES')
        tables = curser.fetchall()
        print('\nì‚¬ìš©ê°€ëŠ¥í•œ í…Œì´ë¸” ëª©ë¡')
        for table in tables:
            print(f'- {table}')


        # 4. ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì „ì²´ ì¡°íšŒ
        sql = "SELECT * FROM íšŒì›ì •ë³´"
        curser.execute(sql)
        result = curser.fetchall()

        df = pd.DataFrame(result)
        display(df)
finally:
    conn.close()

ì‚¬ìš© ê°€ëŠ¥í•œ ë°ì´í„°ë² ì´ìŠ¤ ëª©ë¡:
- FinancialStatement
- information_schema
- mysql
- performance_schema
- sys
- íšŒì›ê´€ë¦¬DB

ë°ì´í„° ë² ì´ìŠ¤ ì„ íƒí•©ë‹ˆë‹¤

ì‚¬ìš©ê°€ëŠ¥í•œ í…Œì´ë¸” ëª©ë¡
- {'Tables_in_íšŒì›ê´€ë¦¬db': 'íšŒì›ì •ë³´'}

   id   ì´ë¦„  ë‚˜ì´               ì´ë©”ì¼
0   1  í™ê¸¸ë™  25  hong@example.com
1   2  ì†¡ë¹Œë¦¬  30   billy@naver.com

In [ ]:
# ì†ìµê³„ì‚°ì„œ, ëŒ€ì°¨ëŒ€ì¡°í‘œ, í˜„ê¸ˆíë¦„í‘œ ë¡œë“œ
def save_income_statement_to_db(stockInfo):
    try:
        # 1ï¸âƒ£ FinancialStatementì—ì„œ ë°ì´í„° ê°€ì ¸ì˜¤ê¸°
        df = stockInfo.stock.financials  # ì†ìµê³„ì‚°ì„œ ê°€ì ¸ì˜¤ê¸°
        df = df.where(pd.notna(df), None)  # NaN ê°’ì„ Noneìœ¼ë¡œ ë³€í™˜
        
        # 2ï¸âƒ£ ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš° ì˜ˆì™¸ ì²˜ë¦¬
        if df.empty:
            print(f"âŒ ì†ìµê³„ì‚°ì„œ ë°ì´í„° ì—†ìŒ")
            return

        df = df.T  # ì—°ë„ë¥¼ í–‰ìœ¼ë¡œ ë³€í™˜
        df.reset_index(inplace=True)  # ì¸ë±ìŠ¤ ì´ˆê¸°í™”
        df.columns = ['year'] + [col.replace(' ', '_').replace('-', '_') for col in df.columns[1:]]
        
        # 3ï¸âƒ£ symbol ë° year ì»¬ëŸ¼ ì¶”ê°€ ë° ë³€í™˜
        df['symbol'] = symbol
        df['year'] = df['year'].dt.year  # ì—°ë„ë¥¼ ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€í™˜

        # 4ï¸âƒ£ í˜„ì¬ MySQL í…Œì´ë¸”ì˜ ì»¬ëŸ¼ ëª©ë¡ ê°€ì ¸ì˜¤ê¸°
        with conn.cursor() as cursor:
            cursor.execute("""
                SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS 
                WHERE TABLE_NAME = 'IncomeStatements'
            """)
            existing_columns = {row["COLUMN_NAME"] for row in cursor.fetchall()}  # ì»¬ëŸ¼ëª… ì§‘í•©

        # 5ï¸âƒ£ ëˆ„ë½ëœ ì»¬ëŸ¼ í™•ì¸ ë° ì¶”ê°€
        new_columns = set(df.columns) - existing_columns - {"symbol", "year"}  # ê¸°ì¡´ ì»¬ëŸ¼ ì œì™¸
        if new_columns:
            with conn.cursor() as cursor:
                for column in new_columns:
                    alter_sql = f"ALTER TABLE IncomeStatements ADD COLUMN `{column}` DOUBLE NULL;"
                    cursor.execute(alter_sql)
                conn.commit()
            print(f"âœ… ìƒˆ ì»¬ëŸ¼ ì¶”ê°€ë¨: {', '.join(new_columns)}")

        # 6ï¸âƒ£ MySQLì— ì €ì¥í•  ë°ì´í„° ì •ë¦¬
        db_columns = ['symbol', 'year'] + [col for col in df.columns if col not in ['symbol', 'year']]
        df = df[db_columns]  # ì»¬ëŸ¼ ìˆœì„œ ë§ì¶”ê¸°

        # 7ï¸âƒ£ MySQLì— ë°ì´í„° ì €ì¥
        with conn.cursor() as cursor:
            sql = f"""
            INSERT INTO IncomeStatements ({', '.join(db_columns)})
            VALUES ({', '.join(['%s'] * len(db_columns))})
            ON DUPLICATE KEY UPDATE 
            {', '.join([f"{col} = VALUES({col})" for col in db_columns[2:]])};
            """
            data = [tuple(x) for x in df.values]
            cursor.executemany(sql, data)
            conn.commit()
        
        # print(f"âœ… {symbol} - ë°ì´í„° ì €ì¥ ì™„ë£Œ")

    except Exception as e:
        print(f"âš ï¸ {symbol} - Income Statement ì˜¤ë¥˜ ë°œìƒ: {e}")


def save_balance_sheet_to_db(stockInfo):
    try:
        # 1ï¸âƒ£ FinancialStatementì—ì„œ ë°ì´í„° ê°€ì ¸ì˜¤ê¸°
        df = stockInfo.stock.balance_sheet  # ëŒ€ì°¨ëŒ€ì¡°í‘œ ê°€ì ¸ì˜¤ê¸°

        # 2ï¸âƒ£ ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš° ì˜ˆì™¸ ì²˜ë¦¬
        if df.empty:
            print(f"âŒ ëŒ€ì°¨ëŒ€ì¡°í‘œ ë°ì´í„° ì—†ìŒ")
            return

        df = df.T  # ì—°ë„ë¥¼ í–‰ìœ¼ë¡œ ë³€í™˜
        df.reset_index(inplace=True)

        # 3ï¸âƒ£ NaN ê°’ì„ Noneìœ¼ë¡œ ë³€í™˜í•˜ì—¬ MySQLì—ì„œ ì˜¤ë¥˜ ë°©ì§€
        df = df.where(pd.notna(df), None)

        # 4ï¸âƒ£ ì»¬ëŸ¼ ì´ë¦„ ë³€í™˜ (MySQLì—ì„œ í—ˆìš©ë˜ì§€ ì•ŠëŠ” ê³µë°±/íŠ¹ìˆ˜ë¬¸ì â†’ `_` ë³€ê²½)
        df.columns = ['year'] + [col.replace(' ', '_').replace('-', '_') for col in df.columns[1:]]

        # âœ… ê¸°ì¡´ì— symbol ì»¬ëŸ¼ì´ ìˆìœ¼ë©´ ì œê±° (ì¤‘ë³µ ë°©ì§€)
        df = df.drop(columns=['symbol'], errors='ignore')

        # âœ… symbol ì»¬ëŸ¼ ì¶”ê°€
        df['symbol'] = symbol
        df['year'] = df['year'].dt.year  # ì—°ë„ë¥¼ ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€í™˜

        # âœ… MySQL í…Œì´ë¸” ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸ í™•ì¸
        with conn.cursor() as cursor:
            cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'BalanceSheet'")
            existing_columns = {row['COLUMN_NAME'] for row in cursor.fetchall()}

        # âœ… ì¶”ê°€í•´ì•¼ í•  ì»¬ëŸ¼ ì°¾ê¸°
        missing_columns = set(df.columns) - existing_columns
        if missing_columns:
            with conn.cursor() as cursor:
                for col in missing_columns:
                    sql = f"ALTER TABLE BalanceSheet ADD COLUMN `{col}` DECIMAL(15,2) NULL;"
                    cursor.execute(sql)
                conn.commit()
            print(f"ğŸ› ï¸ {symbol} - ëˆ„ë½ëœ ì»¬ëŸ¼ ì¶”ê°€ ì™„ë£Œ: {missing_columns}")

        # âœ… ì»¬ëŸ¼ ìˆœì„œ ì •ë ¬
        column_order = ['symbol', 'year'] + [col for col in df.columns if col not in ['symbol', 'year']]
        df = df[column_order]  

        # 5ï¸âƒ£ `ON DUPLICATE KEY UPDATE`ë¥¼ ì‚¬ìš©í•˜ì—¬ ë®ì–´ì“°ê¸°
        with conn.cursor() as cursor:
            sql = f"""
            INSERT INTO BalanceSheet ({', '.join(column_order)})
            VALUES ({', '.join(['%s'] * len(column_order))})
            ON DUPLICATE KEY UPDATE 
            {', '.join([f"{col} = VALUES({col})" for col in column_order[2:]])};
            """
            data = [tuple(x) for x in df.values]
            cursor.executemany(sql, data)
            conn.commit()

        # print(f"âœ… {symbol} - ë°ì´í„° ì €ì¥ ì™„ë£Œ (ì»¬ëŸ¼ ì¶”ê°€ + ë®ì–´ì“°ê¸° ì§€ì›)")

    except Exception as e:
        print(f"âš ï¸ {symbol} - Balance Sheet ì˜¤ë¥˜ ë°œìƒ: {e}")


def save_cash_flow_to_db(stockInfo):
    try:
        # 1ï¸âƒ£ FinancialStatementì—ì„œ ë°ì´í„° ê°€ì ¸ì˜¤ê¸°
        df = stockInfo.stock.cash_flow  # í˜„ê¸ˆíë¦„í‘œ ê°€ì ¸ì˜¤ê¸°

        # 2ï¸âƒ£ ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš° ì˜ˆì™¸ ì²˜ë¦¬
        if df.empty:
            print(f"âŒ í˜„ê¸ˆíë¦„í‘œ ë°ì´í„° ì—†ìŒ")
            return

        df = df.T  # ì—°ë„ë¥¼ í–‰ìœ¼ë¡œ ë³€í™˜
        df.reset_index(inplace=True)

        # 3ï¸âƒ£ NaN ê°’ì„ Noneìœ¼ë¡œ ë³€í™˜í•˜ì—¬ MySQLì—ì„œ ì˜¤ë¥˜ ë°©ì§€
        df = df.where(pd.notna(df), None)

        # 4ï¸âƒ£ ì»¬ëŸ¼ ì´ë¦„ ë³€í™˜ (MySQLì—ì„œ í—ˆìš©ë˜ì§€ ì•ŠëŠ” ê³µë°±/íŠ¹ìˆ˜ë¬¸ì â†’ `_` ë³€ê²½)
        df.columns = ['year'] + [col.replace(' ', '_').replace('-', '_') for col in df.columns[1:]]

        # âœ… ê¸°ì¡´ì— symbol ì»¬ëŸ¼ì´ ìˆìœ¼ë©´ ì œê±° (ì¤‘ë³µ ë°©ì§€)
        df = df.drop(columns=['symbol'], errors='ignore')

        # âœ… symbol ì»¬ëŸ¼ ì¶”ê°€
        df['symbol'] = symbol
        df['year'] = df['year'].dt.year  # ì—°ë„ë¥¼ ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€í™˜

        # âœ… MySQL í…Œì´ë¸” ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸ í™•ì¸
        with conn.cursor() as cursor:
            cursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'CashFlow'")
            existing_columns = {row['COLUMN_NAME'] for row in cursor.fetchall()}

        # âœ… ì¶”ê°€í•´ì•¼ í•  ì»¬ëŸ¼ ì°¾ê¸°
        missing_columns = set(df.columns) - existing_columns
        if missing_columns:
            with conn.cursor() as cursor:
                for col in missing_columns:
                    sql = f"ALTER TABLE CashFlow ADD COLUMN `{col}` DECIMAL(15,2) NULL;"
                    cursor.execute(sql)
                conn.commit()
            print(f"ğŸ› ï¸ {symbol} - ëˆ„ë½ëœ ì»¬ëŸ¼ ì¶”ê°€ ì™„ë£Œ: {missing_columns}")

        # âœ… ì»¬ëŸ¼ ìˆœì„œ ì •ë ¬
        column_order = ['symbol', 'year'] + [col for col in df.columns if col not in ['symbol', 'year']]
        df = df[column_order]  

        # 5ï¸âƒ£ `ON DUPLICATE KEY UPDATE`ë¥¼ ì‚¬ìš©í•˜ì—¬ ë®ì–´ì“°ê¸°
        with conn.cursor() as cursor:
            sql = f"""
            INSERT INTO CashFlow ({', '.join(column_order)})
            VALUES ({', '.join(['%s'] * len(column_order))})
            ON DUPLICATE KEY UPDATE 
            {', '.join([f"{col} = VALUES({col})" for col in column_order[2:]])};
            """
            data = [tuple(x) for x in df.values]
            cursor.executemany(sql, data)
            conn.commit()

        # print(f"âœ… {symbol} - ë°ì´í„° ì €ì¥ ì™„ë£Œ (ì»¬ëŸ¼ ì¶”ê°€ + ë®ì–´ì“°ê¸° ì§€ì›)")

    except Exception as e:
        print(f"âš ï¸ {symbol} - Cash Flow ì˜¤ë¥˜ ë°œìƒ: {e}")


def save_company_info_to_db(stockInfo):
    try:
        info = stockInfo.stock.info
        symbol = stockInfo.ticker.upper()  # ì£¼ì‹ ì‹¬ë³¼ ê°€ì ¸ì˜¤ê¸°

        # âœ… MySQL í…Œì´ë¸” ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸ í™•ì¸
        with conn.cursor() as cursor:
            cursor.execute("SELECT COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Company'")
            existing_columns = {row['COLUMN_NAME']: row['DATA_TYPE'] for row in cursor.fetchall()}

        # âœ… MySQL ì»¬ëŸ¼ê³¼ ë§¤ì¹­ë˜ëŠ” ë°ì´í„° ì¶”ì¶œ
        data = {key: info.get(key, None) for key in info.keys()}
        data.pop("companyOfficers", None)  # âŒ companyOfficers ì œê±°
        data["symbol"] = symbol  # ì‹¬ë³¼ ì¶”ê°€

        # âœ… ì¶”ê°€í•´ì•¼ í•  ì»¬ëŸ¼ ì°¾ê¸° (ë°ì´í„° íƒ€ì… êµ¬ë¶„)
        missing_columns = set(data.keys()) - set(existing_columns.keys())

        if missing_columns:
            with conn.cursor() as cursor:
                for col in missing_columns:
                    value = data[col]

                    # ìˆ«ìí˜• ë°ì´í„°ëŠ” FLOAT, BIGINT ë“±ìœ¼ë¡œ ì €ì¥
                    if isinstance(value, int):
                        col_type = "BIGINT NULL"
                    elif isinstance(value, float):
                        col_type = "FLOAT NULL"
                    elif isinstance(value, str) and len(value) > 255:
                        col_type = "TEXT NULL"  # 255ìë¥¼ ì´ˆê³¼í•˜ëŠ” ë¬¸ìì—´ì€ TEXT
                    else:
                        col_type = "VARCHAR(255) NULL"  # ê¸°ë³¸ì ìœ¼ë¡œ VARCHAR(255)

                    sql = f"ALTER TABLE Company ADD COLUMN `{col}` {col_type};"
                    cursor.execute(sql)
                conn.commit()
            print(f"ğŸ› ï¸ {symbol} - ëˆ„ë½ëœ ì»¬ëŸ¼ ì¶”ê°€ ì™„ë£Œ: {missing_columns}")


        # âœ… ë°ì´í„° ë³€í™˜ (dict, list â†’ JSON ë¬¸ìì—´)
        for key, value in data.items():
            if isinstance(value, (dict, list)):
                data[key] = json.dumps(value)  # JSON ë¬¸ìì—´ë¡œ ë³€í™˜
                
        # âœ… ë°ì´í„° ì‚½ì… ë˜ëŠ” ì—…ë°ì´íŠ¸
        columns = ", ".join(data.keys())
        placeholders = ", ".join(["%s"] * len(data))
        update_clause = ", ".join([f"{key} = VALUES({key})" for key in data.keys() if key != "symbol"])

        with conn.cursor() as cursor:
            sql = f"""
            INSERT INTO Company ({columns})
            VALUES ({placeholders})
            ON DUPLICATE KEY UPDATE {update_clause};
            """
            cursor.execute(sql, tuple(data.values()))
            conn.commit()
        print(f"âœ… {symbol} - ë°ì´í„° ì €ì¥ ì™„ë£Œ")

    except Exception as e:
        print(f"âš ï¸ {symbol} - ì˜¤ë¥˜ ë°œìƒ: {e}")

symbols = []

try:
    with conn.cursor() as cursor:
        cursor.execute("SELECT symbol FROM Company")
        result = cursor.fetchall()

        symbols =  [row['symbol'] for row in result]

except Exception as e:
    print(f"âš ï¸ ì˜¤ë¥˜ ë°œìƒ: {e}")

finally:
    cursor.close()


stockInfo = fs.FinancialStatement()

# âœ… ê¸°ì—… ë¦¬ìŠ¤íŠ¸ì— ëŒ€í•´ CashFlowStatement ì €ì¥ ì‹¤í–‰
for symbol in tqdm(symbols[1:], desc="Processing Companies"):

    stockInfo.setCompany(symbol)

    if stockInfo.stock:
        save_company_info_to_db(stockInfo)
        # save_income_statement_to_db(stockInfo)
        # save_balance_sheet_to_db(stockInfo)
        # save_cash_flow_to_db(stockInfo)
    else:
        print(f"âŒ {symbol} ë°ì´í„° ì—†ìŒ")


# âœ… MySQL ì—°ê²° ì¢…ë£Œ
conn.close()

In [ ]:

#--------------------------
# NYSE ë°ì´í„° ì •ë³´ ëª¨ë‘ DBì— ì €ì¥
#--------------------------


# âœ… MySQL ì—°ê²° ì„¤ì •
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='1234',
    database='FinancialStatement',  # ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

# âœ… Excel íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_excel('nyse_symbol.xlsx')

# âœ… í•„ìš” ì—†ëŠ” URL ì»¬ëŸ¼ ì œê±°
df = df[['Symbol', 'Name']]  # URL ì»¬ëŸ¼ ì œì™¸

print(df.loc[3672])

# âœ… NaN ê°’ì´ ìˆìœ¼ë©´ Noneìœ¼ë¡œ ë³€í™˜
df = df.where(pd.notna(df), None)

# âœ… Symbol ê°’ì´ NaN ë˜ëŠ” ë¹ˆ ë¬¸ìì—´("")ì¸ í–‰ ì°¾ê¸°
invalid_indices = df[df['Symbol'].isna() | (df['Symbol'].astype(str).str.strip() == "")].index.tolist()


if invalid_indices == None or len(invalid_indices) > 0:
    print(f"symbol ê°’ì´ ë¹„ì–´ ìˆìŠµë‹ˆë‹¤ : {invalid_indices}")
    sys.exit(1)


# âœ… ë°ì´í„° ì‚½ì… ë˜ëŠ” ì—…ë°ì´íŠ¸ ì²˜ë¦¬
with conn.cursor() as cursor:
    sql = """
    INSERT INTO Company (symbol, name)
    VALUES (%s, %s)
    ON DUPLICATE KEY UPDATE 
    name = VALUES(name);
    """
    data = [tuple(x) for x in df.values]  # ë°ì´í„° ë³€í™˜

    # âœ… ë°ì´í„°ë¥¼ í•œ ë²ˆì— ì‚½ì…í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼, ì¼ë¶€ì”© ë‚˜ëˆ ì„œ ì‚½ì…
    batch_size = 100  # 100ê°œì”© ì‹¤í–‰
    for i in range(0, len(data), batch_size):
        try:
            cursor.executemany(sql, data[i:i+batch_size])
            conn.commit()  # âœ… ì—¬ê¸°ì„œ ë©ˆì¶˜ë‹¤ë©´, íŠ¸ëœì­ì…˜ ì¶©ëŒ ê°€ëŠ¥ì„± ìˆìŒ
            print(f"âœ… {i + batch_size}ê°œ ë°ì´í„° ì²˜ë¦¬ ì™„ë£Œ!")
        except Exception as e:
            print(f"âŒ ì˜¤ë¥˜ ë°œìƒ: {e}")
            conn.rollback()  # âœ… ì˜¤ë¥˜ ë°œìƒ ì‹œ ë¡¤ë°±
            break  # âœ… ë°˜ë³µë¬¸ ì¤‘ë‹¨ í›„ ì˜¤ë¥˜ í™•ì¸

print("âœ… ë°ì´í„° ì‚½ì… ì™„ë£Œ (URL ì»¬ëŸ¼ ì œì™¸, ì¤‘ë³µ ì‹œ ë®ì–´ì“°ê¸° ì²˜ë¦¬ë¨)")

# âœ… MySQL ì—°ê²° ì¢…ë£Œ
conn.close()

In [ ]:



def save_fs_to_db(stockInfo, type, dateType):
    
    infoName = getStrFSType(type)
    dateName = getStrFSDateType(dateType)

    tableName = f"{infoName}_{dateName}"

    try:
        df = stockInfo.getFsData(type, dateType)
        df = df.where(pd.notna(df), None)

        if df.empty:
            print(f"âŒ {tableName} ë°ì´í„° ì—†ìŒ")
            return
        
        symbol = stockInfo.stock.info.get('symbol','N/A')
        name = stockInfo.stock.info.get('shortName','N/A')

        df = df.T
        df.reset_index(inplace=True)
        df.rename(columns={"index": "date"}, inplace=True)
        df.columns = [col.replace(' ', '_').replace('-', '_') for col in df.columns]
        df['symbol'] = symbol
        df['name'] = name

        with conn.cursor() as cursor:
            cursor.execute(f"""
                SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS
                WHERE TABLE_NAME = '{tableName}'
            """)

            existing_columns = {row['COLUMN_NAME'] for row in cursor.fetchall()}
            
        new_columns = set(df.columns) - existing_columns - {"symbol", "year"}
        if new_columns:
            with conn.cursor() as cursor:
                for col in new_columns:
                    value = df[col].iloc[0]

                    # ë‚ ì§œ íƒ€ì… í™•ì¸ (ë¬¸ìì—´ì´ì§€ë§Œ ë‚ ì§œ ë³€í™˜ ê°€ëŠ¥í•œ ê²½ìš°)
                    if isinstance(value, str):  
                        try:
                            pd.to_datetime(value)  # ë³€í™˜ ê°€ëŠ¥ ì—¬ë¶€ ì²´í¬
                            col_type = "DATE NULL"  # ë³€í™˜ ê°€ëŠ¥í•˜ë©´ DATEë¡œ ì„¤ì •
                        except ValueError:
                            col_type = "TEXT NULL" if len(value) > 128 else "VARCHAR(128) NULL"
                    
                    # Pandas datetime íƒ€ì… (ì§ì ‘ ë³€í™˜)
                    elif isinstance(value, pd.Timestamp):
                        col_type = "DATE NULL"

                    # ìˆ«ìí˜• ë°ì´í„°ëŠ” FLOAT, BIGINT ë“±ìœ¼ë¡œ ì €ì¥
                    elif isinstance(value, int):
                        col_type = "BIGINT NULL"
                    elif isinstance(value, float):
                        col_type = "FLOAT NULL"
                    
                    # ê¸°ë³¸ì ìœ¼ë¡œ VARCHAR(128)ìœ¼ë¡œ ì„¤ì •
                    else:
                        col_type = "VARCHAR(128) NULL"  

                    sql = f"ALTER TABLE {tableName} ADD COLUMN `{col}` {col_type};"

                    cursor.execute(sql)
                
                conn.commit()
            print(f"ğŸ› ï¸ {symbol} - ëˆ„ë½ëœ ì»¬ëŸ¼ ì¶”ê°€ ì™„ë£Œ: {new_columns}")

        with conn.cursor() as cursor:
            columns = ", ".join([f"`{col}`" for col in df.columns])
            placeholders = ", ".join(["%s"] * len(df.columns))
            update_clause = ", ".join([f"`{col}` = VALUES(`{col}`)" for col in df.columns if col not in ["date", "symbol"]])

            insert_sql = f"""
                INSERT INTO {tableName} ({columns})
                VALUES ({placeholders})
                ON DUPLICATE KEY UPDATE {update_clause};
            """

            data = [tuple(row) for row in df.itertuples(index=False, name=None)]
            cursor.executemany(insert_sql, data)
            conn.commit()

        print(f"âœ… {symbol} - {tableName} ë°ì´í„° ì‚½ì… ì™„ë£Œ")

    except Exception as e:
        print(f"âš ï¸ {symbol} - {tableName} ì˜¤ë¥˜ ë°œìƒ: {e}")


stockInfo = fs.FinancialStatement()
mysqlConn = mc.MySQLConnector()
mysqlConn.connect()

symbols = mysqlConn.getSymbolList()

for symbol in tqdm(symbols[:1], desc="Processing Companies"):
    
    stockInfo.setCompany(symbol)

    if stockInfo.stock:
        save_fs_to_db(stockInfo, FSType.INCOME_STATEMENT, FSDateType.QUARTER)
        save_fs_to_db(stockInfo, FSType.BALANCE_SHEET, FSDateType.QUARTER)
        save_fs_to_db(stockInfo, FSType.CASH_FLOW, FSDateType.QUARTER)
    else:
        print(f"âŒ {symbol} ë°ì´í„° ì—†ìŒ")


mysqlConn.disconnect()

Processing Companies: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:01<00:00,  1.44s/it]

ğŸ› ï¸ A - ëˆ„ë½ëœ ì»¬ëŸ¼ ì¶”ê°€ ì™„ë£Œ: {'Gains_Losses_Not_Affecting_Retained_Earnings', 'Payables', 'Inventory', 'Current_Debt', 'Share_Issued', 'Invested_Capital', 'Employee_Benefits', 'Properties', 'Accumulated_Depreciation', 'Current_Deferred_Liabilities', 'Tangible_Book_Value', 'Total_Capitalization', 'Goodwill_And_Other_Intangible_Assets', 'Cash_Cash_Equivalents_And_Short_Term_Investments', 'Other_Non_Current_Assets', 'Retained_Earnings', 'Capital_Stock', 'Current_Liabilities', 'Pensionand_Other_Post_Retirement_Benefit_Plans_Current', 'Current_Assets', 'Total_Debt', 'Net_Debt', 'Investments_And_Advances', 'Other_Receivables', 'Accounts_Receivable', 'Non_Current_Pension_And_Other_Postretirement_Benefit_Plans', 'Current_Accrued_Expenses', 'Preferred_Stock', 'Other_Equity_Adjustments', 'Gross_PPE', 'Current_Debt_And_Capital_Lease_Obligation', 'Payables_And_Accrued_Expenses', 'Goodwill', 'Accounts_Payable', 'Other_Intangible_Assets', 'Machinery_Furniture_Equipment', 'Raw_Materials', 'Other_Current_Borrowings', 'Other_Current_Assets', 'Ordinary_Shares_Number', 'Total_Non_Current_Assets', 'Other_Non_Current_Liabilities', 'Net_PPE', 'Finished_Goods', 'Total_Equity_Gross_Minority_Interest', 'Land_And_Improvements', 'Common_Stock', 'Total_Liabilities_Net_Minority_Interest', 'Current_Deferred_Revenue', 'Long_Term_Debt', 'Net_Tangible_Assets', 'Receivables', 'Total_Assets', 'Total_Non_Current_Liabilities_Net_Minority_Interest', 'Working_Capital', 'Additional_Paid_In_Capital', 'Cash_And_Cash_Equivalents', 'Long_Term_Debt_And_Capital_Lease_Obligation', 'Buildings_And_Improvements', 'Stockholders_Equity', 'Common_Stock_Equity', 'Commercial_Paper'}
âœ… A - BalanceSheet_Quarter ë°ì´í„° ì‚½ì… ì™„ë£Œ