In [ ]:
from typing import Counter
import pandas as pd
from assetAllocation import AssetAllocation
import commonHelper
from dataDownloader import DataDownloader
from db_financialStatement import DB_FinancialStatement
from db_stock import DB_Stock
from db_nyse import DB_NYSE
from commonHelper import EDateType, EFinancialStatementType
from datetime import datetime
import yfinance as yf
from portfolio import Portfolio
import numpy as np
from scipy.stats import norm
from dateutil.parser import parse
import itertools

# 전체 컬럼 표시 제한 해제
pd.set_option('display.max_columns', None)

# 추가적으로 전체 행도 보이게 하고 싶다면:
pd.set_option('display.max_rows', None)

# 너무 긴 출력이 잘리는 것도 방지하려면:
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)  # 또는 float('inf')

with DB_FinancialStatement() as fs:
    symbols = ['ELP']
    df = fs.get_data(symbols, EDateType.QUARTER)


Portfolio.show_portfolio_by_fs_quarter()

        Date                                                                                                           Symbol                                                                                                                               Result Close                                                                                                                                      MMA_10                                                                                                                                                      End Balance                                                                                                                                                  Restart Balance Balance  Can Rebalance
0 2025-05-30  [ELP, PAM, PRDO, UGI, OPFI, KEP, REPX, SIM, CMCL, NWE, USNA, HDSN, DDI, DAVE, HESM, NTES, SNES, FRD, ZEUS, NWN]     [8.98, 76.67, 34.17, 36.06, 12.67, 11.05, 25.66, 27.4, 17.1, 55.33, 29.87, 7.15, 9.96, 200.82, 37.0, 122.44, 2.77, 16.2, 29.65, 40.97]        [7.17, 74.6, 26.01, 29.93, 8.53, 8.23, 29.29, 26.74, 12.5, 55.5, 33.72, 6.73, 11.81, 87.65, 38.09, 96.66, 2.66, 15.54, 35.13, 41.24]                                                                                                     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     [500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0, 500.0]   10000          False
1 2025-06-30  [ELP, PAM, PRDO, UGI, OPFI, KEP, REPX, SIM, CMCL, NWE, USNA, HDSN, DDI, DAVE, HESM, NTES, SNES, FRD, ZEUS, NWN]   [9.13, 69.38, 32.69, 36.42, 13.99, 14.24, 26.23, 27.0, 19.32, 51.3, 30.53, 8.12, 9.57, 268.41, 38.51, 134.58, 5.09, 16.56, 32.59, 39.72]     [7.34, 76.1, 27.02, 31.08, 9.45, 8.83, 29.07, 26.72, 13.14, 55.2, 32.69, 6.72, 11.31, 110.73, 38.21, 102.07, 2.86, 15.69, 34.37, 41.19]  [508.35, 452.46, 478.34, 504.99, 552.09, 644.34, 511.11, 492.7, 564.91, 463.58, 511.05, 567.83, 480.42, 668.29, 520.41, 549.58, 918.77, 511.11, 549.58, 484.74]  [508.35, 452.46, 478.34, 504.99, 552.09, 644.34, 511.11, 492.7, 564.91, 463.58, 511.05, 567.83, 480.42, 668.29, 520.41, 549.58, 918.77, 511.11, 549.58, 484.74]   10934          False
2 2025-07-17  [ELP, PAM, PRDO, UGI, OPFI, KEP, REPX, SIM, CMCL, NWE, USNA, HDSN, DDI, DAVE, HESM, NTES, SNES, FRD, ZEUS, NWN]  [8.56, 70.92, 29.71, 36.02, 11.65, 13.33, 26.55, 28.08, 20.72, 52.2, 30.63, 8.35, 9.94, 204.02, 38.41, 133.19, 4.67, 15.52, 33.77, 41.77]  [7.45, 77.19, 27.77, 32.18, 10.15, 9.39, 29.07, 26.76, 13.71, 54.69, 31.96, 6.72, 10.66, 127.14, 38.52, 106.04, 3.07, 15.64, 33.84, 41.28]   [476.61, 462.5, 434.73, 499.44, 459.75, 603.16, 517.35, 512.41, 605.85, 471.71, 512.72, 583.91, 498.99, 507.97, 519.06, 543.9, 842.96, 479.01, 569.48, 509.76]   [476.61, 462.5, 434.73, 499.44, 459.75, 603.16, 517.35, 512.41, 605.85, 471.71, 512.72, 583.91, 498.99, 507.97, 519.06, 543.9, 842.96, 479.01, 569.48, 509.76]   10611          False