In [7]:
import yfinance as yf

intervals = ['1d','1wk','1mo']
start_date = '2016-01-01'
end_date = '2016-02-28'

# 포트폴리오 비주얼라이즈에서 월 이동평균은 각 월말데이터의 이동평균으로 구한다.
for interval in intervals:
    df = yf.download(tickers=['SPY'], start=start_date,end=end_date,interval= interval, auto_adjust=False)
    
    # 멀티 컬럼 없애고 정렬하는 법
    df.columns = df.columns.droplevel(1)
    df.columns.name = None
    # df = df.resample('ME').last() # 이건 그냥 각 월의 마지막으로 구현처리 됨.
    df = df.reset_index()

    monthly_df = df.groupby(df['Date'].dt.to_period('M')).apply(lambda x: x.iloc[-1]).reset_index(drop=True)
    monthly_df = monthly_df[['Date', 'Close']]  # key는 종가 같은 컬럼명

    # 인덱스를 Date로 설정 (merge를 위해)
    monthly_df.set_index('Date', inplace=True)
    display(monthly_df)

[*********************100%***********************]  1 of 1 completed

                 Close
Date
2016-01-29  193.720001
2016-02-26  195.089996

[*********************100%***********************]  1 of 1 completed

                 Close
Date
2016-01-29  191.600006
2016-02-26  195.089996

[*********************100%***********************]  1 of 1 completed

                 Close
Date
2016-01-01  193.720001
2016-02-01  193.559998

In [9]:
import pandas as pd

# 병합처리 코드
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-31', '2023-02-01'],
    'Value': [10, 20, 30, 40]
})

monthly_df = pd.DataFrame({
    'Date': ['2023-01-31', '2023-02-28'],
    'Monthly_Value': [100, 200]
})

merge_df = df.merge(monthly_df, left_on='Date', right_on='Date',how='left')
display(merge_df)

         Date  Value  Monthly_Value
0  2023-01-01     10            NaN
1  2023-01-02     20            NaN
2  2023-01-31     30          100.0
3  2023-02-01     40            NaN