In [ ]:
import pandas as pd
import commonHelper
from dataDownloader import DataDownloader
from db_financialStatement import DB_FinancialStatement
from db_stock import DB_Stock
from db_nyse import DB_NYSE
from commonHelper import EDateType, EFinancialStatementType
from datetime import datetime
import yfinance as yf
from portfolio import Portfolio
import numpy as np
from scipy.stats import norm
from dateutil.parser import parse
import itertools
from dateutil.parser import parse
from dateutil.relativedelta import relativedelta

# pd.set_option('display.max_rows', None)  # ëª¨ë“  í–‰ ì¶œ
# pd.set_option('display.max_columns', None)  # ëª¨ë“  ì—´ ì¶œë ¥
# pd.set_option('display.expand_frame_repr', False)  # ê¸´ ë°ì´í„° í”„ë ˆì„ ì¤„ë°”ê¿ˆ ì—†ì´ ì¶œë ¥
# pd.set_option('display.max_colwidth', None)  # ì—´ í•˜ë‚˜ì— ë“¤ì–´ê°€ëŠ” í…ìŠ¤íŠ¸ì˜ ìµœëŒ€ ê¸¸ì´ë¥¼ ì œí•œ ì—†ì´ ì„¤ì •
# pd.set_option('display.width', None)         # ì¤„ë°”ê¿ˆ ì—†ì´ ì „ì²´ ë°ì´í„° í”„ë ˆì„ì„ í•œ ì¤„ë¡œ ì¶œë ¥

# í•„ìš”í•œ ì§€í‘œ
DB_FinancialStatement.show_rank_by_fs()

2022-01-01 00:00:00 ì´ì „ ìƒì¥ëœ ê¸°ì—… ì¶”ì¶œ
2022 ì´ì „ ìƒì¥ í‹°ì»¤ ìˆ˜ : 20
ğŸ” ê²€ì‚¬í•  ë¶„ê¸° ë²”ìœ„: ['2024-Q2', '2024-Q3', '2024-Q4', '2025-Q1']
âœ… ë²”ìœ„ ë‚´ ëª¨ë“  ë¶„ê¸°ë¥¼ ê°€ì§„ Symbol ìˆ˜: 11
âœ… êµì§‘í•© Quarters: ['2024-Q2', '2024-Q3', '2024-Q4', '2025-Q1']
âš ï¸ êµì§‘í•©ì´ ì¤„ì–´ë“  ì›ì¸ Symbol(ê°€ì¥ ì ì€ ë¶„ê¸° ë³´ìœ ): ['AAP']
ğŸ“Š ì´ë“¤ Symbolì˜ ë³´ìœ  ë¶„ê¸° ìˆ˜: 4

   2025-Q1
0      ABG
1       AA
2     AAOI
3      ABL
4      AAP
5     ABEV
6      AAL
7        A
8     AAON
9     ABBV
10    AAPL

<built-in method now of type object at 0x1015ea9b8>