In [ ]:
from operator import index
from dataDownloader  import DataDownloader
from db_financialStatement import DB_FinancialStatement
from db_nyse import DB_NYSE
from db_stock import DB_Stock
from portfolio import Portfolio
from assetAllocation import AssetAllocation
from matplotlib.dates import relativedelta
from datetime import datetime, timedelta
from commonHelper import EDateType
from scipy.stats.mstats import winsorize

import datetime
import dataDownloader
import yfinance as yf;
import pandas as pd
import commonHelper
import numpy as np
import os
import warnings
import yfinance as yf
import mplfinance as mpf
import plotly.graph_objects as go

start_date = '2014-12-01'
end_date = '2025-08-01'



symbols = []
with DB_FinancialStatement() as fs:
    symbols = fs.get_symbol_list_with_filter(2022)
    symbols = symbols[:1]
    # symbols = ['DTST', 'DXLG', 'AEHR', 'AMTX', 'BGI', 'EP', 'PMTS', 'DTST', 'MPU', 'DXLG', 'GWAV', 'ODV']

df_symbols = AssetAllocation.get_stock_data_with_ma(
    symbols=symbols, 
    start_date=start_date, 
    end_date=end_date, 
    mas=[10], 
    type='ma_month',
    use_db_stock=True)

df_symbols = AssetAllocation.filter_close_last_month(df_symbols)

df_hedge = AssetAllocation.get_stock_data_with_ma(
    symbols=['SPY', '^VIX'], 
    start_date=start_date, 
    end_date=end_date, 
    mas=[10], 
    type='ma_month',
    use_db_stock=False)


df_hedge = AssetAllocation.filter_close_last_month(df_hedge)


# 3-12 상승, 2년 zscore사용
def strategy_power_momentum(df_symbols:dict, df_hedge:dict, m:int=3, window:int=24):
    # m = 3
    col_m_return = f"R_{m}_12M" # 중기 모멘텀
    col_m_reversal = f"R_{m}M"  # 단기 모멘텀
    col_z_score = f"R_{m}M_Z"   # Z스코어
    col_over_return = "Can Over Return"

    df_symbols = df_symbols.copy()

    for key, df in df_symbols.items():
        df = df.copy()

        # 필요 없는 컬럼 제거
        df = df[[col for col in df.columns if col not in ['Dividends', 'Adj Close', 'Condition', 'Close']]]

        # 수익률 컬럼 (월별)
        df["Monthly_Return"] = df["Result Close"].pct_change(fill_method=None)

        # R_2_12M, R_2M 계산
        df[col_m_return] = (df["Result Close"].shift(m) / df["Result Close"].shift(12)) - 1
        df[col_m_reversal] = (df["Result Close"] / df["Result Close"].shift(m)) - 1    

        # window = 24  # 36개월 (3년)

        # rolling 평균과 표준편차
        rolling_mean = df[col_m_reversal].rolling(window=window, min_periods=window).mean()
        rolling_std = df[col_m_reversal].rolling(window=window, min_periods=window).std()

        # 각 row별 "과거 36개월 기준 Z-score"
        df[col_z_score] = (df[col_m_reversal] - rolling_mean) / rolling_std

        # 상승횟수 vs 하락횟수 (3~12개월 전 구간)
        def count_up_down(idx):
            # 3~12개월 전 수익률 가져오기
            window = df.loc[idx-12:idx-m, "Monthly_Return"]
            if window.empty:
                return np.nan
            ups = (window > 0).sum()
            downs = (window < 0).sum()
            return 1 if ups > downs else 0

        # 새로운 컬럼 추가
        df[col_over_return] = [count_up_down(i) for i in range(len(df))]
        df = df.dropna(subset=[col_m_return, col_z_score])
        df_symbols[key] = df

    

    df = AssetAllocation.merge_to_dfs(df_symbols, [col_m_reversal, 'Monthly_Return', 'MMA_10'])    
    df = df.loc[df.groupby(df["Date"].dt.to_period("M"))["Date"].idxmax()]
    df = df.sort_values("Date").reset_index(drop=True)

    # 도중에 상폐된 심볼에 대한 제거
    # symbol_counts = df['Symbol'].astype(str).value_counts()
    # main_pattern = symbol_counts.index[0]
    # df = df[df['Symbol'].astype(str) == main_pattern].reset_index()
    # df = df.drop(columns=["index"])

    init_balance = 10000

    df['End Balance'] = None        # 지난 달 Restart Asset의 결과        
    df['Restart Asset'] = None      # 현 월 마지막에 리벨런싱 처리할 대상
    df['Restart Balance'] = None    # 리벨런싱의 자산 배분
    df['Cash'] = 0                  # 현금 보유 상황
    df['Balance'] = None            # 토탈 비용
    df['Enter Ratio'] = 0.0
    df['VIX'] = 0.0

    def get_restart_assets(symbols, df):
        m_return = dict(zip(symbols, df.at[i, col_m_return])) # 중기모멘텀
        zscore = dict(zip(symbols, df.at[i, col_z_score])) # z스코어
        over_return = dict(zip(symbols, df.at[i, col_over_return]))

        symbols = [sym for sym in symbols
                if -2<=zscore[sym]<=2 and  # Z스코어는 상승/하락 모두 포함하는게 좋음.
                    over_return[sym] == 1 and 
                    m_return[sym] > 0]
        
        symbols = sorted(symbols, key=lambda sym: m_return[sym], reverse=True)
        symbols = symbols[:20]
        return symbols

    # 이전달에 투자한 자산의 결과 리스트 반환
    def get_end_balance(prev_assets, s_symbol, s_close, e_symbol, e_close):
        end_balance = []
        if prev_assets:
            start_close_dict = dict(zip(s_symbol, s_close))
            end_close_dict = dict(zip(e_symbol, e_close))

            try:
                change_ratio = [
                    end_close_dict[sym] / start_close_dict[sym]
                    if start_close_dict[sym] != 0 or sym in end_close_dict 
                        else 0
                    for sym in prev_assets
                ]
            except Exception as e:
                raise Exception((f"애러발생! : {prev_assets}, {e}"))

            start_balance = df.at[i-1, 'Restart Balance']
            end_balance = [round(x*y,2) for x,y in zip(start_balance, change_ratio)]
            df.at[i, 'End Balance'] = end_balance

        return end_balance

    # 한번에 자산 배분할때 얼마만큼 배분할 수 있는지
    def get_one_invest_balance(enter_ratio:float, balance:int, count:int):

        balance = enter_ratio*balance
        one_invest_balance = min(balance//10, balance//count)

        return one_invest_balance
    

    def get_hedge_value(df_hedge, date):   
        enter_ratio = 0
        vix_value = 0

        if '^VIX' in df_hedge:
            df_vix = df_hedge['^VIX']
            mask = df_vix['Date'] == date
            if mask.any():
                vix_value = df_vix.loc[mask, 'Result Close'].iloc[0]

        if vix_value < 15:
            enter_ratio = 1
        elif  15<= vix_value <20:
            enter_ratio = 0.75
        elif 20<= vix_value<30:
            enter_ratio = 0.5
        elif 30<= vix_value:
            enter_ratio = 0.25
        else:
            enter_ratio = 0

        if 'SPY' in df_hedge: 
            df_spy = df_hedge['SPY']
            is_over_spy = (df_spy.loc[df_spy['Date'] == date, 'Result Close'] > 
                            df_spy.loc[df_spy['Date'] == date, 'MMA_10']).any()
            if not is_over_spy:
                enter_ratio = 0

        return (enter_ratio, vix_value)

        

    for i in range(len(df)):
        date = df.at[i, 'Date']
        
        curr_assets = get_restart_assets(df.at[i, 'Symbol'], df)

        df.at[i,'Restart Asset'] = curr_assets

        enter_ratio, vix_value = get_hedge_value(df_hedge, date)
        df.at[i, 'VIX'] = int(vix_value)
        df.at[i, 'Enter Ratio'] = enter_ratio
        
        if i == 0:
            if not curr_assets:
                df.at[0, 'Cash'] = init_balance
            else:
                curr_assets_len = len(curr_assets)
                one_invest_balance = get_one_invest_balance(enter_ratio, init_balance, curr_assets_len)

                df.at[0,'Restart Balance'] = [one_invest_balance]*curr_assets_len
                df.at[0,'Cash'] = init_balance - (one_invest_balance*curr_assets_len)
                
            df.at[0, 'Balance'] = init_balance

        else:
            prev_assets = df.at[i-1, 'Restart Asset']

            end_balance = get_end_balance(prev_assets, 
                                        df.at[i-1,'Symbol'], 
                                        df.at[i-1,'Result Close'],
                                        df.at[i, 'Symbol'],
                                        df.at[i, 'Result Close'])
            now_total_balance = (
                df.at[i-1, 'Cash']
                if not end_balance
                    else  df.at[i-1, 'Cash'] + sum(end_balance)
            )

            df.at[i, 'Balance'] = now_total_balance

            if not curr_assets:
                df.at[i, 'Cash'] = now_total_balance       
            else:
                curr_assets_len = len(curr_assets)
                one_invest_balance = get_one_invest_balance(enter_ratio, now_total_balance, curr_assets_len)

                restart_balance = [one_invest_balance] * curr_assets_len
                cash = int(now_total_balance - (one_invest_balance * curr_assets_len))

                df.at[i, 'Restart Balance'] = restart_balance
                df.at[i, 'Cash'] = cash
    
    return df


# allocations = [
#     {'3R 24 VIX' : strategy_power_momentum(df_symbols, df_hedge, 3, 24)},
#     {'2R 24 VIX' : strategy_power_momentum(df_symbols, df_hedge, 2, 24)},
#     {'1R 24 VIX' : strategy_power_momentum(df_symbols, df_hedge, 1, 24)},
#     {'3R 36 VIX' : strategy_power_momentum(df_symbols, df_hedge, 3, 36)},
#     {'2R 36 VIX' : strategy_power_momentum(df_symbols, df_hedge, 2, 36)},
#     {'1R 36 VIX' : strategy_power_momentum(df_symbols, df_hedge, 1, 36)}, 
# ]

portfolio_name = [
    '1R 36',
    '1R 36 SPY',
    '1R 36 VIX',
]

allocations = []
for name in portfolio_name:
    key_value = {}
    key_value[name] = pd.read_csv(f"stocks/power_momentum_{name}.csv")
    allocations.append(key_value)


for pair in allocations:
    for key, value in pair.items():
        value.to_csv(f'stocks/power_momentum_{key}.csv', index = False)

Portfolio.show_portfolio(allocations)


# df = pd.read_csv("stocks/power_momentum_1R 36.csv")
# display(df)


# df = strategy_power_momentum(df_symbols, df_hedge, 3, 24)
# display(df)
# df = strategy_power_momentum(df_symbols, df_spy, 2, 24)
# display(df)

[get_dividend] 배당 데이터 없음 : ['^VIX']

          Date                                             Symbol                                       Result Close                                            R_1_12M                                             R_1M_Z                                    Can Over Return                                        End Balance                                      Restart Asset                                    Restart Balance  Cash    Balance  Over SPY
0   2017-12-29  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [66.97, 53.87, 52.03, 3.4, 37.82, 24.47, 99.69...  [0.52, 0.48, 0.08, -0.12, 0.86, 0.1, -0.4, 0.4...  [-0.78, 2.16, 0.3, -0.67, -0.82, -0.14, -0.04,...  [1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, ...                                                NaN  ['TSSI', 'ZYXI', 'GRVY', 'XOMA', 'SGMO', 'DVAX...  [500, 500, 500, 500, 500, 500, 500, 500, 500, ...     0   10000.00      True
1   2018-01-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [73.43, 52.02, 54.32, 3.75, 32.39, 24.27, 116....  [0.37, 0.48, 0.18, -0.09, 0.23, 0.08, -0.39, 0...  [1.24, -0.4, 0.41, 1.24, -0.88, -0.38, 1.93, -...  [1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, ...  [471.15, 762.98, 366.77, 462.08, 635.67, 430.4...  ['TSSI', 'ZYXI', 'XOMA', 'MDGL', 'ESPR', 'GRVY...  [np.float64(679.0), np.float64(679.0), np.floa...     6   13586.26      True
2   2018-02-28  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [68.59, 44.97, 54.25, 3.45, 27.93, 24.5, 114.2...  [0.43, 0.5, 0.17, -0.03, -0.29, 0.08, -0.25, 0...  [-1.34, -1.14, -0.1, -0.95, -0.81, -0.09, -0.2...  [1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, ...  [np.float64(651.29), np.float64(608.17), np.fl...  ['ZYXI', 'TSSI', 'MDGL', 'XOMA', 'NKTR', 'ACB'...  [np.float64(676.0), np.float64(676.0), np.floa...    12   13532.68      True
3   2018-03-29  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [66.9, 44.96, 51.96, 3.3, 25.06, 26.0, 118.55,...  [0.3, 0.31, 0.28, -0.14, -0.5, 0.04, -0.23, 0....  [-0.65, -0.14, -0.51, -0.49, -0.62, 0.73, 0.43...  [1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, ...  [np.float64(527.11), np.float64(848.6), np.flo...  ['QUBT', 'ZYXI', 'MDGL', 'CCLD', 'EGAN', 'SGMO...  [np.float64(660.0), np.float64(660.0), np.floa...     1   13201.48      True
4   2018-04-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [65.74, 51.2, 42.93, 3.25, 31.96, 22.67, 114.4...  [0.22, 0.33, 0.22, -0.16, -0.49, 0.06, -0.17, ...  [-0.53, 0.9, -1.86, -0.16, 0.98, -2.06, -0.35,...  [1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...  [np.float64(308.0), np.float64(623.57), np.flo...  ['QUBT', 'ZYXI', 'CDNA', 'MDGL', 'VERB', 'NKTR...  [np.float64(626.0), np.float64(626.0), np.floa...     8   12528.09      True
5   2018-05-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [61.92, 48.07, 43.54, 2.95, 46.77, 20.33, 128....  [0.09, 0.55, -0.11, -0.1, -0.54, -0.06, -0.14,...  [-1.15, -0.63, 0.1, -1.05, 1.7, -1.59, 1.33, 1...  [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...  [np.float64(693.07), np.float64(615.24), np.fl...  ['CDNA', 'ZYXI', 'ENPH', 'QURE', 'VERB', 'VRME...  [np.float64(777.0), np.float64(777.0), np.floa...     5   15545.91      True
6   2018-06-29  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [61.84, 46.88, 37.96, 2.7, 44.9, 22.17, 135.7,...  [0.04, 0.47, -0.13, -0.21, -0.24, -0.17, 0.1, ...  [-0.27, -0.37, -1.4, -0.94, -0.39, 1.08, 0.59,...  [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...  [np.float64(718.31), np.float64(766.13), np.fl...  ['NIXX', 'QUBT', 'MDGL', 'CDNA', 'VKTX', 'EGAN...  [np.float64(734.0), np.float64(734.0), np.floa...    16   14696.77      True
7   2018-07-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [66.04, 43.27, 39.54, 2.6, 38.43, 25.17, 141.2...  [0.03, 0.29, -0.25, -0.24, -0.54, -0.02, 0.21,...  [0.87, -0.79, 0.4, -0.36, -0.78, 1.6, 0.46, 0....  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...  [np.float64(760.69), np.float64(1004.42), np.f...  ['QUBT', 'MDGL', 'CDNA', 'VKTX', 'EGAN', 'ARWR...  [np.float64(795.0), np.float64(795.0), np.floa...    12   15912.37      True
8   2018-08-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [67.54, 44.67, 40.48, 2.75, 41.36, 26.93, 164....  [0.02, -0.01, -0.12, -0.2, -0.35, 0.16, 0.44, ...  [0.07, 0.05, 0.2, 0.72, 0.12, 0.67, 1.64, 2.41...  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...  [np.float64(764.42), np.float64(739.88), np.fl...  ['QUBT', 'MDGL', 'VKTX', 'TBCH', 'EGAN', 'ENPH...  [np.float64(927.0), np.float64(927.0), np.floa...     0   18540.71      True
9   2018-09-28  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [70.54, 40.4, 41.33, 2.5, 24.66, 25.2, 168.33,...  [0.05, -0.04, -0.15, -0.15, -0.36, 0.17, 0.65,...  [0.41, -0.92, 0.16, -0.96, -1.74, -1.18, 0.26,...  [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...  [np.float64(2132.1), np.float64(829.81), np.fl...  ['QUBT', 'VERB', 'PAYS', 'TBCH', 'VKTX', 'CDNA...  [np.float64(1003.0), np.float64(1003.0), np.fl...    15   20075.75      True
10  2018-10-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [64.79, 34.99, 35.08, 2.8, 19.63, 22.99, 159.7...  [0.04, -0.15, -0.12, -0.3, -0.39, 0.08, 1.06, ...  [-1.74, -1.19, -1.61, 1.51, -0.91, -1.4, -0.51...  [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...  [np.float64(610.52), np.float64(748.51), np.fl...  ['QUBT', 'TNDM', 'IGC', 'VKTX', 'INTZ', 'PAYS'...  [np.float64(865.0), np.float64(865.0), np.floa...     6   17306.45      True
11  2018-11-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [72.35, 31.81, 40.16, 2.83, 20.59, 25.3, 177.7...  [-0.06, -0.16, -0.31, -0.22, -0.55, -0.05, 0.5...  [1.76, -0.82, 1.52, 0.26, 0.06, 1.25, 1.14, -2...  [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...  [np.float64(865.0), np.float64(846.83), np.flo...  ['TNDM', 'LIXT', 'PED', 'PAYS', 'SMLR', 'VKTX'...  [np.float64(820.0), np.float64(820.0), np.floa...     2   16402.64      True
12  2018-12-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [67.46, 26.58, 32.11, 2.41, 15.43, 23.37, 157....  [0.08, -0.41, -0.23, -0.17, -0.46, 0.03, 0.78,...  [-1.41, -1.3, -2.0, -1.53, -1.08, -1.3, -1.27,...  [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...  [np.float64(845.61), np.float64(828.91), np.fl...  ['ODV', 'TNDM', 'PRQR', 'LIXT', 'PAYS', 'PED',...  [np.float64(682.0), np.float64(682.0), np.floa...     5   13645.44      True
13  2019-01-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [76.05, 29.68, 35.77, 2.7, 17.38, 24.63, 159.2...  [-0.08, -0.49, -0.41, -0.36, -0.52, -0.04, 0.3...  [1.83, 0.74, 1.11, 1.49, 0.36, 0.53, 0.06, 0.4...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...  [np.float64(682.0), np.float64(780.97), np.flo...  ['TNDM', 'LIXT', 'PRQR', 'PAYS', 'SMLR', 'CDNA...  [np.float64(807.0), np.float64(807.0), np.floa...    18   16158.15      True
14  2019-02-28  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [79.44, 29.5, 35.63, 2.89, 13.5, 26.57, 161.78...  [0.11, -0.34, -0.34, -0.22, -0.38, 0.01, 0.39,...  [0.38, -0.18, -0.05, 0.87, -0.94, 0.98, 0.1, 0...  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...  [np.float64(1217.0), np.float64(844.53), np.fl...  ['TNDM', 'CRMD', 'LIXT', 'CDNA', 'SMLR', 'PRQR...  [np.float64(906.0), np.float64(906.0), np.floa...    18   18138.66      True
15  2019-03-29  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [80.38, 28.16, 31.76, 2.55, 12.2, 30.79, 170.5...  [0.19, -0.34, -0.31, -0.12, -0.46, 0.02, 0.36,...  [-0.16, -0.47, -1.05, -1.19, -0.47, 2.14, 0.52...  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...  [np.float64(877.4), np.float64(1044.11), np.fl...  ['TNDM', 'CRMD', 'LIXT', 'TBCH', 'PAYS', 'PED'...  [np.float64(968.0), np.float64(968.0), np.floa...    11   19371.03      True
16  2019-04-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [78.5, 26.68, 34.18, 2.46, 12.52, 33.47, 166.3...  [0.22, -0.45, -0.26, -0.22, -0.62, 0.36, 0.49,...  [-0.75, -0.49, 0.73, -0.28, -0.03, 1.01, -0.33...  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...  [np.float64(936.14), np.float64(829.71), np.fl...  ['WKSP', 'PED', 'TNDM', 'CRMD', 'AMRN', 'CCRD'...  [np.float64(907.0), np.float64(907.0), np.floa...    11   18151.44      True
17  2019-05-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [67.05, 21.19, 27.23, 2.45, 8.66, 30.26, 155.0...  [0.27, -0.44, -0.21, -0.17, -0.73, 0.65, 0.29,...  [-2.58, -1.72, -1.97, 0.04, -1.28, -1.62, -0.7...  [1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(794.5), np.float64(947.61), np.flo...  ['FTLF', 'CRMD', 'RCEL', 'AMRN', 'LIXT', 'TNDM...  [np.float64(1004.0), np.float64(1004.0), np.fl...     2   20082.10      True
18  2019-06-28  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [74.67, 23.41, 32.61, 2.45, 10.28, 33.45, 154....  [0.08, -0.55, -0.28, -0.09, -0.81, 0.37, 0.14,...  [1.54, 0.78, 1.76, 0.11, 0.59, 1.22, -0.09, 1....  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...  [np.float64(978.69), np.float64(1402.79), np.f...  ['FTLF', 'AXSM', 'RCEL', 'CRMD', 'IVDA', 'PAYS...  [np.float64(1093.0), np.float64(1093.0), np.fl...    18   21878.04      True
19  2019-07-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [69.41, 22.49, 30.51, 2.35, 10.01, 33.87, 150....  [0.13, -0.46, -0.18, -0.06, -0.73, 0.33, 0.09,...  [-1.3, -0.35, -0.66, -0.33, -0.21, -0.12, -0.2...  [1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...  [np.float64(1262.6), np.float64(1082.39), np.f...  ['FTLF', 'IVDA', 'AXSM', 'CVM', 'AMRN', 'GMGI'...  [np.float64(1083.0), np.float64(1083.0), np.fl...    17   21677.01      True
20  2019-08-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [71.11, 17.93, 26.31, 2.52, 8.9, 31.98, 137.95...  [0.03, -0.5, -0.25, -0.15, -0.76, 0.26, -0.08,...  [0.17, -1.6, -1.32, 0.96, -0.48, -1.03, -0.9, ...  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(1034.51), np.float64(1212.96), np....  ['FTLF', 'AXSM', 'IVDA', 'GMGI', 'AMRN', 'ENPH...  [np.float64(1065.0), np.float64(1065.0), np.fl...    12   21312.36      True
21  2019-09-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [76.63, 20.07, 26.97, 2.77, 11.22, 30.63, 165....  [0.01, -0.56, -0.36, 0.01, -0.64, 0.27, -0.18,...  [0.96, 0.92, 0.28, 1.21, 0.98, -0.81, 1.94, 0....  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...  [np.float64(1056.68), np.float64(846.98), np.f...  ['FTLF', 'AXSM', 'IVDA', 'APPS', 'ENPH', 'GMGI...  [np.float64(1026.0), np.float64(1026.0), np.fl...    14   20534.04      True
22  2019-10-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [75.75, 20.79, 30.06, 2.23, 9.36, 32.44, 162.4...  [0.18, -0.43, -0.23, -0.01, -0.43, 0.33, 0.04,...  [-0.46, 0.24, 1.16, -2.35, -0.69, 0.6, -0.27, ...  [1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(1001.76), np.float64(1220.66), np....  ['FTLF', 'IVDA', 'GMGI', 'RCEL', 'APPS', 'ENPH...  [np.float64(1024.0), np.float64(1024.0), np.fl...     3   20483.49      True
23  2019-11-29  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [80.77, 20.35, 28.74, 1.77, 10.7, 32.91, 157.0...  [0.05, -0.35, -0.25, -0.21, -0.55, 0.28, -0.09...  [0.75, -0.15, -0.36, -2.24, 0.54, 0.01, -0.38,...  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(1337.81), np.float64(1024.0), np.f...  ['IVDA', 'RCEL', 'RLMD', 'GMGI', 'OESX', 'NOTV...  [np.float64(1084.0), np.float64(1084.0), np.fl...     6   21686.97      True
24  2019-12-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [85.31, 21.51, 28.68, 1.97, 11.88, 32.94, 160....  [0.2, -0.23, -0.1, -0.27, -0.31, 0.41, -0.0, 0...  [0.58, 0.48, 0.07, 1.5, 0.39, -0.18, 0.19, 0.8...  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(813.0), np.float64(1149.7), np.flo...  ['FTLF', 'QIPT', 'RCEL', 'RLMD', 'ARWR', 'WKHS...  [np.float64(1133.0), np.float64(1133.0), np.fl...    11   22671.92      True
25  2020-01-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [82.56, 13.95, 26.84, 2.21, 11.3, 34.96, 131.7...  [0.12, -0.28, -0.2, -0.27, -0.32, 0.34, 0.01, ...  [-0.77, -2.71, -0.56, 1.5, -0.2, 0.66, -1.82, ...  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(1152.31), np.float64(1045.85), np....  ['FTLF', 'SOBR', 'AXSM', 'RLMD', 'DRRX', 'ATEC...  [np.float64(1175.0), np.float64(1175.0), np.fl...     4   23504.82      True
26  2020-02-28  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [77.07, 13.87, 19.05, 2.47, 8.93, 36.67, 132.9...  [0.04, -0.53, -0.25, -0.24, -0.16, 0.32, -0.19...  [-1.24, 0.1, -2.5, 1.39, -0.82, 0.46, 0.1, -1....  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(1089.66), np.float64(1355.77), np....  ['FTLF', 'AXSM', 'RLMD', 'SOBR', 'SAVA', 'MLSS...  [np.float64(1173.0), np.float64(1173.0), np.fl...    17   23477.84      True
27  2020-03-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [71.62, 6.16, 12.19, 2.11, 7.59, 32.21, 93.32,...  [-0.04, -0.51, -0.4, -0.03, -0.27, 0.19, -0.22...  [-1.23, -3.45, -2.73, -1.42, -0.52, -1.79, -2....  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(791.42), np.float64(884.71), np.fl...  ['FTLF', 'SCNX', 'SOBR', 'TOMZ', 'AVDL', 'RLMD...  [np.float64(953.0), np.float64(953.0), np.floa...     0   19060.25      True
28  2020-04-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [76.66, 8.15, 12.01, 1.78, 10.72, 31.76, 120.9...  [-0.09, -0.77, -0.64, -0.14, -0.39, -0.04, -0....  [0.89, 2.12, 0.1, -1.45, 1.76, -0.32, 2.46, 1....  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(953.0), np.float64(1292.77), np.fl...  ['SCNX', 'SOBR', 'MNMD', 'AVDL', 'ELA', 'COE',...  [np.float64(1258.0), np.float64(1258.0), np.fl...    13   25173.05      True
29  2020-05-29  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [88.14, 9.21, 10.5, 1.77, 8.83, 36.11, 139.32,...  [0.14, -0.62, -0.56, -0.27, 0.24, 0.05, -0.22,...  [1.99, 0.9, -0.77, 0.1, -0.63, 1.6, 1.19, 0.67...  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(864.47), np.float64(1579.19), np.f...  ['SCNX', 'SOBR', 'MNMD', 'SAVA', 'KRMD', 'AVDL...  [np.float64(1304.0), np.float64(1304.0), np.fl...     5   26085.84      True
30  2020-06-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [88.37, 11.24, 13.07, 1.66, 10.87, 36.19, 142....  [0.18, -0.61, -0.68, -0.28, -0.14, 0.08, -0.1,...  [-0.16, 1.37, 2.13, -0.47, 1.06, -0.15, 0.08, ...  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(1459.7), np.float64(1922.85), np.f...  ['FCEL', 'SOBR', 'SCNX', 'NITO', 'NVAX', 'RVP'...  [np.float64(1726.0), np.float64(1726.0), np.fl...     1   34521.63      True
31  2020-07-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [96.33, 13.0, 11.12, 1.85, 14.21, 39.5, 150.14...  [0.27, -0.5, -0.57, -0.29, 0.09, 0.07, -0.05, ...  [1.06, 0.98, -0.9, 1.31, 1.52, 0.96, 0.33, 1.4...  [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...  [np.float64(1703.09), np.float64(2368.79), np....  ['SOBR', 'NVAX', 'CODX', 'LRMR', 'VXRT', 'TOMZ...  [np.float64(1895.0), np.float64(1895.0), np.fl...    17   37917.24      True
32  2020-08-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [100.42, 14.62, 13.05, 2.0, 11.63, 37.95, 156....  [0.35, -0.27, -0.58, -0.27, 0.6, 0.24, 0.09, 1...  [0.4, 0.82, 1.48, 0.91, -0.75, -0.75, 0.18, 1....  [1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...  [np.float64(1404.59), np.float64(1461.18), np....  ['SOBR', 'NVAX', 'CODX', 'TOMZ', 'VXRT', 'LRMR...  [np.float64(1686.0), np.float64(1686.0), np.fl...     8   33728.58      True
33  2020-09-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [100.94, 11.63, 12.29, 2.0, 11.25, 40.17, 153....  [0.31, -0.27, -0.52, -0.28, 0.04, 0.24, -0.05,...  [-0.14, -1.07, -0.23, 0.09, -0.03, 0.52, -0.32...  [1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...  [np.float64(1645.99), np.float64(1655.59), np....  ['NVAX', 'LRMR', 'VXRT', 'MRSN', 'CODX', 'TSLA...  [np.float64(1714.0), np.float64(1714.0), np.fl...    15   34295.96      True
34  2020-10-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [102.09, 12.92, 11.28, 2.02, 8.78, 38.94, 147....  [0.33, -0.44, -0.59, -0.1, 0.2, 0.24, -0.06, 0...  [-0.03, 0.75, -0.4, 0.22, -0.96, -0.62, -0.56,...  [1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, ...  [np.float64(1276.76), np.float64(2124.14), np....  ['DRIO', 'NVAX', 'VXRT', 'LRMR', 'CODX', 'ALTO...  [np.float64(1605.0), np.float64(1605.0), np.fl...     5   32105.52      True
35  2020-11-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [116.9, 19.9, 14.13, 2.14, 8.31, 43.42, 147.7,...  [0.26, -0.37, -0.61, 0.14, -0.18, 0.18, -0.06,...  [1.78, 2.78, 1.98, 0.71, -0.14, 1.22, -0.13, 0...  [1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(1982.18), np.float64(2774.1), np.f...  ['LRMR', 'NVAX', 'IBIO', 'CODX', 'VXRT', 'ALTO...  [np.float64(2351.0), np.float64(2351.0), np.fl...    15   47035.09      True
36  2020-12-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [118.49, 23.05, 15.77, 2.06, 8.51, 44.42, 157....  [0.37, -0.07, -0.51, 0.09, -0.3, 0.32, -0.08, ...  [-0.07, 0.85, 0.98, -0.29, 0.22, 0.04, 0.45, 0...  [1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(2265.3), np.float64(1879.28), np.f...  ['NVAX', 'MNMD', 'VXRT', 'LRMR', 'CRDF', 'LFMD...  [np.float64(2064.0), np.float64(2064.0), np.fl...    11   41291.70      True
37  2021-01-29  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [120.17, 18.0, 17.17, 2.38, 11.01, 49.33, 149....  [0.44, 0.65, -0.41, -0.07, -0.25, 0.27, 0.2, 0...  [-0.03, -1.09, 0.77, 1.65, 1.43, 1.1, -0.63, -...  [1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(4089.5), np.float64(1996.33), np.f...  ['MNMD', 'ABAT', 'BLNK', 'LRMR', 'NVAX', 'VERI...  [np.float64(2889.0), np.float64(2889.0), np.fl...     5   57785.96      True
38  2021-02-26  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [122.07, 24.55, 20.94, 4.47, 9.32, 51.4, 160.3...  [0.56, 0.3, -0.1, -0.04, 0.23, 0.35, 0.12, 0.9...  [-0.04, 1.78, 1.58, 4.85, -0.68, 0.23, 0.58, -...  [1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(3251.35), np.float64(2237.55), np....  ['GME', 'ABAT', 'MNMD', 'KOSS', 'LFMD', 'MVIS'...  [np.float64(3027.0), np.float64(3027.0), np.fl...     6   60546.37      True
39  2021-03-31  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [127.14, 32.49, 23.9, 3.68, 8.36, 46.67, 183.4...  [0.7, 2.99, 0.72, 1.12, 0.23, 0.6, 0.72, 0.91,...  [0.31, 1.49, 1.01, -1.07, -0.45, -1.37, 1.19, ...  [1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(5648.1), np.float64(1880.05), np.f...  ['BRTX', 'MVIS', 'ABAT', 'RVYL', 'FNGR', 'GME'...  [np.float64(2999.0), np.float64(2999.0), np.fl...    15   59995.98      True
40  2021-04-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [133.64, 36.64, 21.72, 4.09, 7.41, 43.61, 200....  [0.66, 2.99, 0.99, 1.07, -0.22, 0.47, 0.52, 0....  [0.42, 0.55, -0.56, 0.51, -0.46, -1.1, 0.65, 0...  [1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(2499.17), np.float64(2465.49), np....  ['BRTX', 'CHRD', 'MVIS', 'FNGR', 'AMTX', 'GME'...  [np.float64(2818.0), np.float64(2818.0), np.fl...     8   56368.67      True
41  2021-05-28  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [138.13, 39.67, 24.24, 4.33, 8.23, 44.17, 189....  [0.52, 2.98, 1.07, 1.31, -0.16, 0.21, 0.44, 0....  [0.13, 0.31, 0.81, 0.2, 0.74, -0.15, -0.65, -0...  [1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(2536.2), np.float64(3233.47), np.f...  ['CHRD', 'GME', 'ABAT', 'MI', 'AMTX', 'RVYL', ...  [np.float64(2812.0), np.float64(2812.0), np.fl...     5   56245.77      True
42  2021-06-30  ['A', 'AA', 'AAL', 'AAME', 'AAOI', 'AAON', 'AA...  [147.81, 36.84, 21.21, 4.32, 8.47, 41.73, 205....  [0.56, 2.53, 0.85, 1.61, -0.24, 0.22, 0.33, 0....  [0.64, -0.42, -0.81, -0.15, 0.3, -0.99, 0.6, 0...  [1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  [np.float64(3190.66), np.float64(2712.19), np....  ['CHRD', 'GME', 'DTST', 'ABAT', 'SAVA', 'DAC',...  [np.float64(3031.0), np.float64(3031.0), np.fl...     7   60627.16      True